In [1]:
import pandas as pd
from constants import Entry_Type
from my_functions import *

In [2]:
pegmed = pd.read_csv('data/dicts/proc_pegasus_medical.csv')

In [3]:
matching = pd.read_csv('data/pt_data/matching_unmatched_removed.csv',delimiter=',')

In [4]:
matching.head(5)

,case_patid,case_pracid,case_gender,case_birthyear,case_index,match,control_patid,control_pracid,control_gender,control_birthyear,control_start,control_end
0,4923328,328,2,1916,01/07/2003,1,4355328,328,2,1916,01/01/2000,07/02/2009
1,1959216,216,1,1933,25/02/2011,1,6290216,216,1,1933,01/01/2000,01/06/2012
2,9271420,420,1,1917,20/06/2003,1,2770420,420,1,1917,02/01/2003,29/12/2009
3,548429,429,2,1925,11/05/2005,1,5473429,429,2,1925,01/01/2000,01/06/2012
4,14185081,81,2,1917,28/02/2005,1,5951081,81,2,1917,01/01/2000,27/01/2007

In [5]:
all_entries = pd.read_csv('data/pt_data/all_entries.csv',delimiter=',')

In [6]:
all_entries.sample(10)

           eventdate  medcode     patid     sysdate  type
46655516  2010-03-19     26.0   2804057  2010-03-19     2
47249347  2001-11-02   3179.0  11177075  2001-11-02     2
75373549  2007-04-19      4.0   5892079  2007-04-20     3
15673133  2003-10-16      NaN  19104211  2003-10-16     0
3898748   2007-03-05      NaN  11706054  2007-03-05     0
64680961  2012-01-05   6718.0   9460456  2012-01-05     2
59627881  2010-04-07  13323.0     70338  2010-04-07     2
91319143  2013-03-11   9925.0   3498458  2013-03-11     3
88070106  2010-10-07     63.0  11927378  2010-10-09     3
86829361  2006-04-04     21.0   2832336  2006-04-05     3

In [110]:
row_num = 0

In [111]:
matching.loc[row_num][['case_patid','case_index','control_start','control_end']]

case_patid          4923328
case_index       01/07/2003
control_start    01/01/2000
control_end      07/02/2009
Name: 0, dtype: object

In [112]:
case = matching.loc[row_num]['case_patid']
control = int(matching.loc[row_num]['control_patid'])
case,control

(4923328, 4355328)

In [131]:
case_entries = all_entries[all_entries['patid']==case].sort_values(by='sysdate')
case_entries['read_term']=np.nan
case_entries.loc[case_entries['medcode'].notnull(),'read_term']=case_entries['medcode'].map(lambda x:pegmed.loc[pegmed['medcode']==x,'read term'].values)
case_entries['type']=case_entries['type'].map(lambda x: Entry_Type.look_up[x])

In [132]:
case_entries

,eventdate,medcode,patid,sysdate,type,read_term
23947730,1997-11-28,NaN,4923328,2001-06-04,consultation,NaN
59291184,2000-12-13,108.0,4923328,2001-06-04,clinical,[Geriatric screen - seen]
59291183,2000-12-13,374.0,4923328,2001-06-04,clinical,[Chest pain]
59291182,2000-06-01,2418.0,4923328,2001-06-04,clinical,[Cerebrovascular disease]
59291181,1993-12-17,240.0,4923328,2001-06-04,clinical,[Ischaemic heart disease]
59291180,2000-06-02,204.0,4923328,2001-06-04,clinical,[Hypertensive disease]
59291179,1997-07-03,3.0,4923328,2001-06-04,clinical,[O/E - height]
59291178,1989-12-14,3.0,4923328,2001-06-04,clinical,[O/E - height]
59291177,1997-07-03,2.0,4923328,2001-06-04,clinical,[O/E - weight]
59291176,1989-12-14,2.0,4923328,2001-06-04,clinical,[O/E - weight]
59291175,2001-05-11,1.0,4923328,2001-06-04,clinical,[O/E - blood pressure reading]
59291174,2001-01-19,1.0,4923328,2001-06-04,clinical,[O/E - blood pressure reading]
59291173,2000-11-20,1.0,4923328,2001-06-04,clinical,[O/E - blood pressure reading]
59291172,2000-09-01,1.0,4923328,2001-06-04,clinical,[O/E - blood pressure reading]
59291171,2000-08-15,1.0,4923328,2001-06-04,clinical,[O/E - blood pressure reading]
59291185,2000-12-05,5800.0,4923328,2001-06-04,clinical,[Dizziness symptom]
59291170,2000-06-09,1.0,4923328,2001-06-04,clinical,[O/E - blood pressure reading]
59291168,2000-06-01,1.0,4923328,2001-06-04,clinical,[O/E - blood pressure reading]
59291167,1997-07-03,1.0,4923328,2001-06-04,clinical,[O/E - blood pressure reading]
59291166,1996-02-12,1.0,4923328,2001-06-04,clinical,[O/E - blood pressure reading]
23947762,1998-05-18,NaN,4923328,2001-06-04,consultation,NaN
23947761,1998-05-13,NaN,4923328,2001-06-04,consultation,NaN
23947760,1996-09-09,NaN,4923328,2001-06-04,consultation,NaN
23947759,1996-05-31,NaN,4923328,2001-06-04,consultation,NaN
23947758,1996-02-28,NaN,4923328,2001-06-04,consultation,NaN
23947757,1996-02-16,NaN,4923328,2001-06-04,consultation,NaN
23947756,2001-05-22,NaN,4923328,2001-06-04,consultation,NaN
23947755,2001-04-26,NaN,4923328,2001-06-04,consultation,NaN
23947754,2001-04-03,NaN,4923328,2001-06-04,consultation,NaN
23947753,2001-03-01,NaN,4923328,2001-06-04,consultation,NaN
...,...,...,...,...,...,...
23947527,2005-02-28,NaN,4923328,2005-02-28,consultation,NaN
59291116,2005-03-08,1.0,4923328,2005-03-08,clinical,[O/E - blood pressure reading]
23947528,2005-03-08,NaN,4923328,2005-03-08,consultation,NaN
23947529,2005-03-09,NaN,4923328,2005-03-09,consultation,NaN
59291132,2005-03-10,10674.0,4923328,2005-03-10,clinical,[Influenza vaccination declined]
23947530,2005-03-10,NaN,4923328,2005-03-10,consultation,NaN
59291148,2005-03-16,31.0,4923328,2005-03-18,clinical,[Letter from specialist]
59291147,2005-03-16,5777.0,4923328,2005-03-18,clinical,[Memory loss symptom]
23947531,2005-03-18,NaN,4923328,2005-03-18,consultation,NaN
23947532,2005-03-22,NaN,4923328,2005-03-22,consultation,NaN
59291133,2005-03-22,33615.0,4923328,2005-03-22,clinical,[Accidental poisoning by disinfectants]
23947533,2005-03-31,NaN,4923328,2005-03-31,consultation,NaN
59291146,2005-03-25,31.0,4923328,2005-03-31,clinical,[Letter from specialist]
59291145,2005-03-25,6470.0,4923328,2005-03-31,clinical,[Advice]
23947534,2005-04-05,NaN,4923328,2005-04-05,consultation,NaN
59291117,2005-04-05,1.0,4923328,2005-04-05,clinical,[O/E - blood pressure reading]
23947535,2005-04-06,NaN,4923328,2005-04-06,consultation,NaN
23947537,2005-04-26,NaN,4923328,2005-04-26,consultation,NaN
23947536,2005-04-26,NaN,4923328,2005-04-26,consultation,NaN
23947538,2005-05-06,NaN,4923328,2005-05-06,consultation,NaN
59291118,2005-05-06,1.0,4923328,2005-05-06,clinical,[O/E - blood pressure reading]
23947539,2005-05-09,NaN,4923328,2005-05-09,consultation,NaN
59291144,2005-04-25,31.0,4923328,2005-05-09,clinical,[Letter from specialist]
23947540,2005-05-16,NaN,4923328,2005-05-16,consultation,NaN
59291142,2005-05-14,1713.0,4923328,2005-05-16,clinical,[Confused]
59291141,2005-05-14,57.0,4923328,2005-05-16,clinical,[O/E - BP reading]
59291143,2005-05-14,31.0,4923328,2005-05-16,clinical,[Letter from specialist]
23947541,2005-05-17,NaN,4923328,2005-05-17,consultation,NaN
23947542,2005-05-31,NaN,4923328,2005-05-31,consultation,NaN
23947543,2005-06-10,NaN,4923328,2005-06-10,consultation,NaN

In [133]:
control_entries = all_entries[all_entries['patid']==control].sort_values(by='sysdate')
control_entries['read_term']=control_entries['medcode'].map(lambda x: pegmed.loc[pegmed['medcode']==x,'read term'].values)
control_entries['type']=control_entries['type'].map(lambda x: Entry_Type.look_up[x])

In [134]:
control_entries

,eventdate,medcode,patid,sysdate,type,read_term
99122538,2000-03-06,13909.0,4355328,2001-06-04,referral,[Serum electrolytes]
23944834,1989-06-07,NaN,4355328,2001-06-04,consultation,[]
23944833,2001-05-09,NaN,4355328,2001-06-04,consultation,[]
23944953,1995-10-10,NaN,4355328,2001-06-04,consultation,[]
23944954,1995-12-12,NaN,4355328,2001-06-04,consultation,[]
23944955,1996-02-06,NaN,4355328,2001-06-04,consultation,[]
23944956,1996-03-25,NaN,4355328,2001-06-04,consultation,[]
23944957,1996-04-09,NaN,4355328,2001-06-04,consultation,[]
23944958,1996-05-14,NaN,4355328,2001-06-04,consultation,[]
23944959,1996-05-21,NaN,4355328,2001-06-04,consultation,[]
23944960,1996-06-18,NaN,4355328,2001-06-04,consultation,[]
23944961,1996-07-16,NaN,4355328,2001-06-04,consultation,[]
23944962,1996-08-19,NaN,4355328,2001-06-04,consultation,[]
23944963,1996-11-06,NaN,4355328,2001-06-04,consultation,[]
23944964,1996-12-02,NaN,4355328,2001-06-04,consultation,[]
23944965,1997-01-23,NaN,4355328,2001-06-04,consultation,[]
23944966,1997-01-28,NaN,4355328,2001-06-04,consultation,[]
23944967,1997-02-18,NaN,4355328,2001-06-04,consultation,[]
23944968,1997-03-04,NaN,4355328,2001-06-04,consultation,[]
23944969,1997-03-18,NaN,4355328,2001-06-04,consultation,[]
23944835,1989-08-03,NaN,4355328,2001-06-04,consultation,[]
23944970,1997-04-05,NaN,4355328,2001-06-04,consultation,[]
23944836,1990-12-27,NaN,4355328,2001-06-04,consultation,[]
23944838,1992-06-25,NaN,4355328,2001-06-04,consultation,[]
23944857,1996-10-24,NaN,4355328,2001-06-04,consultation,[]
23944856,1996-10-15,NaN,4355328,2001-06-04,consultation,[]
23944855,1996-09-26,NaN,4355328,2001-06-04,consultation,[]
23944854,1996-07-18,NaN,4355328,2001-06-04,consultation,[]
23944853,1996-06-21,NaN,4355328,2001-06-04,consultation,[]
23944852,1996-05-28,NaN,4355328,2001-06-04,consultation,[]
...,...,...,...,...,...,...
59289629,2008-10-31,2581.0,4355328,2008-11-03,clinical,[Chest infection NOS]
23944819,2008-11-28,NaN,4355328,2008-11-28,consultation,[]
23944820,2008-12-01,NaN,4355328,2008-12-01,consultation,[]
23944821,2008-12-01,NaN,4355328,2008-12-01,consultation,[]
23944822,2008-12-12,NaN,4355328,2008-12-12,consultation,[]
23944823,2009-01-05,NaN,4355328,2009-01-05,consultation,[]
23944824,2009-01-20,NaN,4355328,2009-01-20,consultation,[]
59289625,2009-01-05,1273.0,4355328,2009-01-20,clinical,[C/O - cough]
59289586,2009-01-20,292.0,4355328,2009-01-20,clinical,[Chesty cough]
23944826,2009-01-23,NaN,4355328,2009-01-23,consultation,[]
23944825,2009-01-23,NaN,4355328,2009-01-23,consultation,[]
23944827,2009-02-09,NaN,4355328,2009-02-09,consultation,[]
23944828,2009-02-09,NaN,4355328,2009-02-09,consultation,[]
23944829,2009-02-06,NaN,4355328,2009-02-09,consultation,[]
23944830,2009-02-07,NaN,4355328,2009-02-09,consultation,[]
59289623,2009-02-06,292.0,4355328,2009-02-09,clinical,[Chesty cough]
59289621,2009-02-07,6855.0,4355328,2009-02-09,clinical,[Patient died at home]
59289622,2009-02-06,9062.0,4355328,2009-02-09,clinical,[O/E - crepitations]
59289624,2009-02-07,31.0,4355328,2009-02-09,clinical,[Letter from specialist]
59289587,2009-02-09,7847.0,4355328,2009-02-09,clinical,[Death]
59289544,2009-02-09,886.0,4355328,2009-02-09,clinical,[Bronchopneumonia due to unspecified organism]
59289543,2009-02-09,799.0,4355328,2009-02-09,clinical,[Essential hypertension]
59289542,2009-02-09,711.0,4355328,2009-02-09,clinical,[Diabetes mellitus]
59289541,2009-02-09,2418.0,4355328,2009-02-09,clinical,[Cerebrovascular disease]
59289540,2009-02-09,7847.0,4355328,2009-02-09,clinical,[Death]
86572404,2009-02-06,21333.0,4355328,2009-02-09,test,[Standard chest X-ray requested]
86572405,2009-02-06,14465.0,4355328,2009-02-09,test,[O/E - respiratory rate]
86572406,2009-02-06,22620.0,4355328,2009-02-09,test,[O/E - level of fever]
59289620,2009-02-06,6154.0,4355328,2009-02-09,clinical,[O/E - pulse rate]
59289619,2009-02-06,1.0,4355328,2009-02-09,clinical,[O/E - blood pressure reading]