In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
# %aimport data_processing
# %aimport codelists
# %aimport constants
# %aimport import_file

In [4]:
from data_processing import *

In [5]:
from import_file import *

In [5]:
pd.options.display.max_rows = 200

In [6]:
# create_pegmed()

In [7]:
# create_pegprod()

In [8]:
# create_medcoded_entries()

In [9]:
# create_prescriptions()

In [10]:
# create_consultations()

In [11]:
# all_entries = create_all_entries()

In [12]:
# all_entries = pd.read_csv('data/pt_data/all_entries.csv',delimiter=',',parse_dates=['sysdate','eventdate'],infer_datetime_format=True)

In [ ]:
all_entries = pd.read_hdf('hdf/all_entries.hdf')

In [ ]:
all_entries.sample(7)

In [ ]:
# all_entries.to_hdf('hdf/all_entries.hdf', 'all_entries' ,mode='w')

In [ ]:
create_pt_features()

In [ ]:
get_index_date_and_caseness_and_add_final_dementia_subtype(all_entries)

In [ ]:
add_data_start_and_end_dates(all_entries)

In [ ]:
calculate_amount_of_data_available(isCase=True)

In [ ]:
delete_patients_if_not_enough_data(isCase=True)

In [ ]:
# match_cases_and_controls()

In [ ]:
# delete_unmatched_cases_and_controls()

In [ ]:
calculate_amount_of_data_available(isCase=False)

In [ ]:
pt_features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',')

In [ ]:
len(pt_features)

In [ ]:
pt_features

In [6]:
removed_pts = pd.read_csv('data/pt_data/removed_patients/removed_unmatched_patients.csv', delimiter=',')

In [7]:
removed_pts

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,days pre_indexdate,days post_indexdate,matchid,reason_for_removal
0,9011487,1,1914,487,NaN,False,NaN,2005-01-12,2005-01-12,NaN,NaN,NaN,Unmatchable
1,12315508,2,1916,508,NaN,False,NaN,2006-03-29,2006-03-29,NaN,NaN,NaN,Unmatchable
2,3595663,1,1924,663,NaN,False,NaN,2010-09-15,2010-09-15,NaN,NaN,NaN,Unmatchable
3,12888508,2,1923,508,NaN,False,NaN,2006-03-29,2006-03-29,NaN,NaN,NaN,Unmatchable
4,150510,1,1919,510,NaN,False,NaN,2007-02-02,2007-02-02,NaN,NaN,NaN,Unmatchable
5,476510,2,1914,510,NaN,False,NaN,2007-02-02,2007-02-02,NaN,NaN,NaN,Unmatchable
6,1792510,2,1910,510,NaN,False,NaN,2007-02-02,2007-02-02,NaN,NaN,NaN,Unmatchable
7,9429652,1,1921,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
8,1939510,2,1913,510,NaN,False,NaN,2007-02-02,2007-02-02,NaN,NaN,NaN,Unmatchable
9,232664,2,1919,664,NaN,False,NaN,2006-05-04,2006-05-04,NaN,NaN,NaN,Unmatchable
10,8739652,2,1918,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
11,4375184,1,1922,184,NaN,False,NaN,2000-09-06,2000-09-06,NaN,NaN,NaN,Unmatchable
12,8614652,2,1923,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
13,8099652,1,1922,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
14,11806508,2,1922,508,NaN,False,NaN,2006-03-29,2006-03-29,NaN,NaN,NaN,Unmatchable
15,979393,2,1912,393,NaN,False,NaN,2005-06-23,2005-06-23,NaN,NaN,NaN,Unmatchable
16,478393,2,1914,393,NaN,False,NaN,2005-06-23,2005-06-23,NaN,NaN,NaN,Unmatchable
17,3820510,1,1929,510,NaN,False,NaN,2007-02-02,2007-02-02,NaN,NaN,NaN,Unmatchable
18,5189652,2,1930,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
19,5120652,2,1919,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
20,5093652,2,1913,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
21,4925652,1,1928,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
22,4503652,2,1916,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
23,3941652,1,1912,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
24,3736652,1,1919,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
25,19983190,2,1931,190,NaN,False,NaN,2008-03-27,2008-03-27,NaN,NaN,NaN,Unmatchable
26,3693652,2,1926,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
27,3675652,1,1920,652,NaN,False,NaN,2010-10-22,2010-10-22,NaN,NaN,NaN,Unmatchable
28,4968510,2,1920,510,NaN,False,NaN,2007-02-02,2007-02-02,NaN,NaN,NaN,Unmatchable
29,819393,2,1919,393,NaN,False,NaN,2005-06-23,2005-06-23,NaN,NaN,NaN,Unmatchable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43325,1917013,2,1920,13,NaN,False,NaN,1995-07-28,2013-05-14,NaN,NaN,NaN,Unmatchable
43326,16355013,1,1936,13,NaN,False,NaN,1995-07-28,2013-05-15,NaN,NaN,NaN,Unmatchable
43327,11999013,2,1926,13,NaN,False,NaN,1995-07-28,2013-05-15,NaN,NaN,NaN,Unmatchable
43328,21082013,2,1925,13,NaN,False,NaN,1995-07-28,2013-05-16,NaN,NaN,NaN,Unmatchable
43329,7047013,1,1924,13,NaN,False,NaN,1995-07-28,2013-05-16,NaN,NaN,NaN,Unmatchable
43330,5497013,1,1931,13,NaN,False,NaN,1995-07-28,2013-05-17,NaN,NaN,NaN,Unmatchable
43331,1880013,2,1921,13,NaN,False,NaN,1995-07-28,2013-05-17,NaN,NaN,NaN,Unmatchable
43332,1437013,1,1929,13,NaN,False,NaN,1995-07-28,2013-05-17,NaN,NaN,NaN,Unmatchable
43333,1359013,2,1927,13,NaN,False,NaN,1995-07-28,2013-05-17,NaN,NaN,NaN,Unmatchable
43334,16130013,2,1920,13,NaN,False,NaN,1995-07-28,2013-05-17,NaN,NaN,NaN,Unmatchable
43335,4889488,2,1913,488,NaN,False,NaN,1995-02-17,2013-02-25,NaN,NaN,NaN,Unmatchable
43336,6774488,1,1937,488,NaN,False,NaN,1995-02-17,2013-03-22,NaN,NaN,NaN,Unmatchable
43337,10854488,2,1923,488,NaN,False,NaN,1995-02-17,2013-04-05,NaN,NaN,NaN,Unmatchable
43338,7892488,2,1921,488,NaN,False,NaN,1995-02-17,2013-04-12,NaN,NaN,NaN,Unmatchable
43339,8580488,1,1931,488,NaN,False,NaN,1995-02-17,2013-04-15,NaN,NaN,NaN,Unmatchable
43340,10620488,2,1929,488,NaN,False,NaN,1995-02-17,2013-04-15,NaN,NaN,NaN,Unmatchable
43341,13292488,1,1925,488,NaN,False,NaN,1995-02-17,2013-04-16,NaN,NaN,NaN,Unmatchable
43342,16116488,2,1935,488,NaN,False,NaN,1995-02-17,2013-04-16,NaN,NaN,NaN,Unmatchable
43343,17517488,1,1939,488,NaN,False,NaN,1995-02-17,2013-04-17,NaN,NaN,NaN,Unmatchable
43344,16816488,2,1922,488,2010-01-01,True,1916.0,1995-02-17,2013-04-17,5432.0,1202.0,NaN,Unmatchable
43345,16606488,1,1942,488,NaN,False,NaN,1995-02-17,2013-04-17,NaN,NaN,NaN,Unmatchable
43346,1091336,2,1927,336,NaN,False,NaN,1994-12-10,2013-03-05,NaN,NaN,NaN,Unmatchable
43347,1701336,1,1923,336,NaN,False,NaN,1994-12-09,2013-03-28,NaN,NaN,NaN,Unmatchable
43348,1503336,1,1930,336,NaN,False,NaN,1994-12-09,2013-05-07,NaN,NaN,NaN,Unmatchable
43349,2297336,1,1930,336,NaN,False,NaN,1994-12-09,2013-05-07,NaN,NaN,NaN,Unmatchable
43350,1130336,2,1938,336,NaN,False,NaN,1994-12-10,2013-05-09,NaN,NaN,NaN,Unmatchable
43351,1188336,1,1938,336,NaN,False,NaN,1994-12-09,2013-05-13,NaN,NaN,NaN,Unmatchable
43352,1220336,2,1928,336,NaN,False,NaN,1994-12-09,2013-05-15,NaN,NaN,NaN,Unmatchable
43353,1497336,2,1928,336,NaN,False,NaN,1994-12-09,2013-05-16,NaN,NaN,NaN,Unmatchable
43354,1033336,1,1928,336,NaN,False,NaN,1994-12-09,2013-05-21,NaN,NaN,NaN,Unmatchable