In [2]:
import pandas as pd
from my_functions import *

In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [4]:
pt_features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',',parse_dates=['index_date'])

In [5]:
pt_features.sort_values(by='insomnia_event_count',ascending=False)

,patid,pracid,gender,birthyear,index_date,isCase,earliest_sysdate,latest_sysdate,days_pre_indexdate,days_post_indexdate,matchid,insomnia_event_count
11403,6762193,193,2,1917,2009-05-02,False,1997-11-14,2013-04-22,4187.0,1451.0,8870.0,24
10661,8291322,322,2,1921,2008-07-02,False,1995-09-21,2013-04-22,4668.0,1755.0,2770.0,19
5799,5842194,194,2,1939,2010-06-05,True,1996-08-09,2013-05-10,5048.0,1070.0,3288.0,15
1173,1570199,199,1,1928,2006-11-07,True,1996-05-12,2011-05-20,3831.0,1655.0,5947.0,11
4659,5114043,43,2,1916,2008-08-11,True,1996-01-05,2012-03-10,4602.0,1307.0,1949.0,11
2039,2287025,25,2,1944,2011-03-22,True,2000-04-27,2011-10-12,3981.0,204.0,3124.0,9
4748,17217653,653,2,1924,2010-01-12,True,1997-05-10,2013-04-17,4630.0,1191.0,5581.0,8
8784,2124315,315,2,1921,2011-01-31,False,1999-11-26,2013-04-25,4084.0,815.0,6781.0,8
5856,2831336,336,2,1928,2010-08-12,True,1996-09-25,2012-11-15,5069.0,826.0,7507.0,8
6998,15936005,5,2,1920,2008-04-07,False,1997-11-21,2010-08-04,3790.0,849.0,2550.0,7
3506,199159,159,2,1931,2009-03-30,True,1997-07-27,2013-05-13,4264.0,1505.0,9751.0,7
6336,4398431,431,2,1927,2011-04-05,True,1996-07-25,2013-04-09,5367.0,735.0,8788.0,7
1655,15842109,109,2,1928,2008-05-16,True,1997-08-28,2013-05-02,3914.0,1812.0,5592.0,6
529,19865051,51,2,1938,2011-02-15,True,2000-11-30,2013-04-23,3729.0,798.0,4036.0,6
11524,3691174,174,2,1923,2010-09-06,False,1996-11-06,2013-05-09,5052.0,976.0,6822.0,6
5945,4515331,331,2,1930,2010-04-27,True,1996-05-02,2013-05-01,5108.0,1100.0,407.0,6
7201,3909084,84,2,1928,2010-01-07,False,1999-12-10,2013-04-02,3681.0,1181.0,3283.0,6
10933,747436,436,2,1923,2010-11-03,False,1999-08-02,2013-04-08,4111.0,887.0,7973.0,6
8117,2477115,115,2,1922,2010-10-10,False,1996-03-03,2013-02-26,5334.0,870.0,10571.0,6
3017,10871398,398,2,1919,2009-04-21,True,1997-11-28,2011-01-20,4162.0,639.0,2620.0,6
11880,5423115,115,2,1930,2008-07-17,False,1996-03-03,2013-01-23,4519.0,1651.0,5250.0,6
1898,179091,91,1,1934,2006-06-15,True,1995-08-18,2009-03-05,3954.0,994.0,10744.0,5
3184,16963463,463,2,1927,2007-06-07,True,1995-12-13,2013-05-21,4194.0,2175.0,9594.0,5
7142,9869429,429,2,1933,2010-09-06,False,1999-11-29,2013-05-09,3934.0,976.0,1140.0,5
447,4057205,205,2,1921,2010-02-16,True,1999-12-13,2012-11-06,3718.0,994.0,22.0,5
2544,6072270,270,1,1921,2007-02-01,True,1995-12-12,2013-04-19,4069.0,2269.0,4642.0,5
12134,905115,115,2,1927,2009-08-01,False,1996-03-03,2013-05-03,4899.0,1371.0,10223.0,5
8349,10344059,59,2,1931,2011-02-14,False,1996-06-15,2013-03-21,5357.0,766.0,2326.0,5
2802,18881427,427,1,1931,2006-12-10,True,1995-09-02,2009-11-09,4117.0,1065.0,5337.0,5
5740,4875270,270,2,1921,2009-09-14,True,1995-12-12,2012-12-11,5025.0,1184.0,5741.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
4465,2894309,309,1,1930,2009-10-21,True,1997-05-17,2013-01-22,4540.0,1189.0,4894.0,0
4466,3479322,322,2,1921,2008-02-26,True,1995-09-21,2013-04-19,4541.0,1879.0,11571.0,0
4467,15009319,319,2,1936,2008-03-12,True,1995-10-06,2013-04-08,4541.0,1853.0,10615.0,0
4468,4931470,470,2,1920,2009-07-06,True,1997-01-28,2011-02-11,4542.0,585.0,10875.0,0
4469,2585190,190,2,1920,2010-07-13,True,1998-02-04,2013-05-14,4542.0,1036.0,7497.0,0
4449,31352229,229,2,1931,2008-07-02,True,1996-02-02,2009-02-16,4534.0,229.0,5098.0,0
4447,3819027,27,2,1921,2010-04-28,True,1997-11-28,2012-10-19,4534.0,905.0,10027.0,0
4423,1488341,341,2,1937,2009-04-14,True,1996-11-21,2012-10-26,4527.0,1291.0,2444.0,0
4434,7953374,374,1,1927,2009-10-16,True,1997-05-22,2012-03-07,4530.0,873.0,10758.0,0
4424,16999284,284,2,1929,2009-11-02,True,1997-06-11,2013-03-20,4527.0,1234.0,8940.0,0
4425,5571124,124,2,1922,2010-09-30,True,1998-05-08,2012-10-05,4528.0,736.0,8075.0,0
4426,5686409,409,1,1925,2011-02-08,True,1998-09-16,2013-05-22,4528.0,834.0,1640.0,0
4427,10443309,309,2,1919,2009-10-09,True,1997-05-17,2013-04-25,4528.0,1294.0,6000.0,0
4428,3901027,27,1,1927,2010-04-23,True,1997-11-28,2010-09-23,4529.0,153.0,2105.0,0
4429,9161409,409,1,1918,2011-02-09,True,1998-09-16,2013-05-03,4529.0,814.0,3831.0,0
4430,9721047,47,1,1931,2009-11-17,True,1997-06-24,2012-05-10,4529.0,905.0,11300.0,0
4431,1935124,124,1,1923,2010-10-02,True,1998-05-08,2010-05-21,4530.0,-134.0,5603.0,0
4433,7623156,156,2,1921,2008-12-12,True,1996-07-18,2013-01-21,4530.0,1501.0,3476.0,0
4435,4246098,98,2,1923,2008-10-16,True,1996-05-21,2012-11-23,4531.0,1499.0,4792.0,0
4446,1473138,138,2,1921,2009-04-02,True,1996-11-03,2013-04-26,4533.0,1485.0,9865.0,0
4436,5426044,44,2,1924,2009-11-19,True,1997-06-24,2011-07-13,4531.0,601.0,11448.0,0
4437,9846657,657,1,1936,2009-02-17,True,1996-09-22,2013-02-08,4531.0,1452.0,252.0,0
4438,11038154,154,2,1924,2009-01-09,True,1996-08-14,2013-02-21,4531.0,1504.0,3611.0,0
4439,19294284,284,1,1916,2009-11-06,True,1997-06-11,2013-04-19,4531.0,1260.0,4449.0,0
4440,4158290,290,1,1920,2010-06-05,True,1998-01-08,2012-07-31,4531.0,787.0,1122.0,0
4441,6949119,119,2,1919,2008-02-10,True,1995-09-14,2013-04-25,4532.0,1901.0,5869.0,0
4442,7974194,194,2,1929,2009-01-05,True,1996-08-09,2012-08-10,4532.0,1313.0,11418.0,0
4443,3312314,314,1,1921,2011-01-24,True,1998-08-28,2013-04-17,4532.0,814.0,4069.0,0
4445,6523194,194,2,1924,2009-01-06,True,1996-08-09,2011-11-29,4533.0,1057.0,11696.0,0
12927,28120088,88,1,1926,2010-01-01,False,1996-06-08,2013-04-10,4955.0,1195.0,2893.0,0

In [15]:
pt_features[pt_features['isCase']==True].loc[:,'insomnia_event_count'].mean()

0.11076732673267327

In [16]:
pt_features[pt_features['isCase']==False].loc[:,'insomnia_event_count'].mean()

0.085396039603960402

In [17]:
pt_features[(pt_features['isCase']==True)&(pt_features['insomnia_event_count']>0)].count()

patid                   418
pracid                  418
gender                  418
birthyear               418
index_date              418
isCase                  418
earliest_sysdate        418
latest_sysdate          418
days_pre_indexdate      418
days_post_indexdate     418
matchid                 418
insomnia_event_count    418
dtype: int64

In [10]:
pt_features[(pt_features['isCase']==False)&(pt_features['insomnia_event_count']>0)].count()

patid                   327
pracid                  327
gender                  327
birthyear               327
index_date              327
isCase                  327
earliest_sysdate        327
latest_sysdate          327
days_pre_indexdate      327
days_post_indexdate     327
matchid                 327
insomnia_event_count    327
dtype: int64

In [13]:
418/(12928/2)

0.06466584158415842

In [14]:
327/(12928/2)

0.050587871287128716