In [1]:
%load_ext autoreload
%autoreload 1

In [2]:
%aimport data_processing
%aimport codelists
%aimport constants
%aimport import_file

In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:97% !important; }</style>"))

In [10]:
pd.set_option('display.max_columns', None)

In [4]:
from data_processing import *

In [5]:
from import_file import *

In [5]:
pd.options.display.max_rows = 1000

In [6]:
pt_features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',', parse_dates=['index_date','data_start','data_end'], infer_datetime_format=True)

In [7]:
pt_features

,patid,pracid,gender,birthyear,index_date,isCase,final dementia medcode,final dementia read term,data_start,data_end,days pre_indexdate,days post_indexdate,matchid,total_available_data,insom_count
0,21880670,670,2,1931,2009-03-30,True,6578.0,[X]Vascular dementia,1999-04-02,2013-04-04,3650.0,1466.0,787.0,5116 days 00:00:00.000000000,0
1,3846066,66,2,1931,2009-12-10,True,8195.0,[X]Alzheimer's dementia unspec,1999-12-13,2011-12-28,3650.0,748.0,1522.0,4398 days 00:00:00.000000000,0
2,2904565,565,2,1943,2009-03-12,True,37014.0,[X]Dementia in Huntington's disease,1999-03-15,2013-04-12,3650.0,1492.0,3342.0,5142 days 00:00:00.000000000,0
3,4537438,438,2,1939,2006-11-01,True,1917.0,Alzheimer's disease,1996-11-03,2013-01-02,3650.0,2254.0,1488.0,5904 days 00:00:00.000000000,0
4,5924670,670,2,1935,2009-03-30,True,7664.0,[X]Dementia in Alzheimer's disease,1999-04-02,2013-03-19,3650.0,1450.0,130.0,5100 days 00:00:00.000000000,0
5,2859159,159,2,1927,2007-07-25,True,1350.0,Senile/presenile dementia,1997-07-27,2011-03-24,3650.0,1338.0,2021.0,4988 days 00:00:00.000000000,0
6,44248465,465,2,1935,2009-08-08,True,1917.0,Alzheimer's disease,1999-08-11,2013-05-16,3650.0,1377.0,3360.0,5027 days 00:00:00.000000000,0
7,2245225,225,2,1933,2006-06-19,True,1917.0,Alzheimer's disease,1996-06-20,2013-04-22,3651.0,2499.0,1739.0,6150 days 00:00:00.000000000,0
8,4628670,670,1,1927,2009-03-31,True,6578.0,[X]Vascular dementia,1999-04-02,2012-11-13,3651.0,1323.0,2701.0,4974 days 00:00:00.000000000,0
9,1829651,651,1,1921,2009-05-22,True,5931.0,H/O: dementia,1999-05-24,2011-12-23,3651.0,945.0,4034.0,4596 days 00:00:00.000000000,0
10,18325166,166,1,1931,2010-04-09,True,1917.0,Alzheimer's disease,2000-04-10,2013-04-24,3651.0,1111.0,3616.0,4762 days 00:00:00.000000000,0
11,2075651,651,1,1935,2009-05-22,True,7664.0,[X]Dementia in Alzheimer's disease,1999-05-24,2013-04-22,3651.0,1431.0,2415.0,5082 days 00:00:00.000000000,0
12,2963565,565,2,1924,2009-03-13,True,6578.0,[X]Vascular dementia,1999-03-15,2012-12-01,3651.0,1359.0,4898.0,5010 days 00:00:00.000000000,0
13,10139343,343,2,1922,2005-09-14,True,1917.0,Alzheimer's disease,1995-09-15,2012-04-03,3652.0,2393.0,4410.0,6045 days 00:00:00.000000000,0
14,3672412,412,1,1934,2010-11-22,True,5931.0,H/O: dementia,2000-11-22,2013-02-14,3652.0,815.0,1697.0,4467 days 00:00:00.000000000,0
15,3433051,51,2,1929,2007-01-18,True,6578.0,[X]Vascular dementia,1997-01-18,2012-08-22,3652.0,2043.0,4631.0,5695 days 00:00:00.000000000,1
16,3014472,472,2,1927,2009-10-19,True,1917.0,Alzheimer's disease,1999-10-20,2013-03-22,3652.0,1250.0,357.0,4902 days 00:00:00.000000000,0
17,2740035,35,2,1927,2009-05-20,True,7664.0,[X]Dementia in Alzheimer's disease,1999-05-20,2012-10-03,3653.0,1232.0,4422.0,4885 days 00:00:00.000000000,0
18,10398005,5,1,1933,2007-11-22,True,7664.0,[X]Dementia in Alzheimer's disease,1997-11-21,2010-08-24,3653.0,1006.0,4187.0,4659 days 00:00:00.000000000,0
19,6715251,251,2,1929,2009-01-27,True,4693.0,[X] Unspecified dementia,1999-01-27,2013-05-13,3653.0,1567.0,2458.0,5220 days 00:00:00.000000000,0
20,3035097,97,2,1927,2009-07-09,True,7664.0,[X]Dementia in Alzheimer's disease,1999-07-09,2013-04-26,3653.0,1387.0,769.0,5040 days 00:00:00.000000000,0
21,4207149,149,2,1920,2007-02-06,True,4693.0,[X] Unspecified dementia,1997-02-05,2010-01-12,3653.0,1071.0,2026.0,4724 days 00:00:00.000000000,0
22,6238412,412,1,1928,2010-11-23,True,4693.0,[X] Unspecified dementia,2000-11-22,2013-05-15,3653.0,904.0,4257.0,4557 days 00:00:00.000000000,0
23,4971257,257,1,1927,2006-11-14,True,1350.0,Senile/presenile dementia,1996-11-12,2013-05-09,3654.0,2368.0,3928.0,6022 days 00:00:00.000000000,0
24,19393089,89,1,1923,2007-07-27,True,1917.0,Alzheimer's disease,1997-07-25,2011-03-31,3654.0,1343.0,2721.0,4997 days 00:00:00.000000000,0
25,3642066,66,2,1921,2009-12-14,True,4693.0,[X] Unspecified dementia,1999-12-13,2012-12-03,3654.0,1085.0,3430.0,4739 days 00:00:00.000000000,0
26,3012078,78,2,1920,2009-09-11,True,1916.0,Senile dementia,1999-09-09,2013-04-17,3655.0,1314.0,4305.0,4969 days 00:00:00.000000000,0
27,17267628,628,1,1930,2008-11-17,True,7664.0,[X]Dementia in Alzheimer's disease,1998-11-15,2011-08-31,3655.0,1017.0,4952.0,4672 days 00:00:00.000000000,0
28,4538446,446,2,1923,2010-07-30,True,6578.0,[X]Vascular dementia,2000-07-27,2012-10-25,3655.0,818.0,3981.0,4473 days 00:00:00.000000000,0
29,2651017,17,1,1916,2008-04-21,True,6578.0,[X]Vascular dementia,1998-04-18,2010-07-22,3656.0,822.0,3330.0,4478 days 00:00:00.000000000,0
30,19641002,2,1,1935,2009-09-03,True,6578.0,[X]Vascular dementia,1999-08-31,2013-01-04,3656.0,1219.0,1772.0,4875 days 00:00:00.000000000,0
31,5633670,670,2,1922,2009-04-05,True,4693.0,[X] Unspecified dementia,1999-04-02,2011-07-22,3656.0,838.0,4861.0,4494 days 00:00:00.000000000,0
32,5318098,98,2,1920,2006-05-25,True,7664.0,[X]Dementia in Alzheimer's disease,1996-05-21,2010-04-27,3656.0,1433.0,1300.0,5089 days 00:00:00.000000000,0
33,7255657,657,2,1931,2006-09-26,True,4693.0,[X] Unspecified dementia,1996-09-22,2013-02-15,3656.0,2334.0,830.0,5990 days 00:00:00.000000000,0
34,1037056,56,2,1923,2006-08-10,True,1917.0,Alzheimer's disease,1996-08-06,2013-05-01,3656.0,2456.0,119.0,6112 days 00:00:00.000000000,0
35,11337270,270,1,1927,2005-12-16,True,26270.0,[X]Lewy body dementia,1995-12-12,2008-11-27,3657.0,1077.0,1225.0,4734 days 00:00:00.000000000,0
36,3719129,129,2,1917,2006-10-16,True,11379.0,"[X]Senile dementia,Alzheimer's type",1996-10-11,2011-02-24,3657.0,1592.0,1695.0,5249 days 00:00:00.000000000,0
37,15099244,244,1,1929,2010-07-02,True,6578.0,[X]Vascular dementia,2000-06-27,2012-10-19,3657.0,840.0,2030.0,4497 days 00:00:00.000000000,0
38,5169138,138,2,1930,2006-11-08,True,6578.0,[X]Vascular dementia,1996-11-03,2013-04-08,3657.0,2343.0,846.0,6000 days 00:00:00.000000000,0
39,8191262,262,2,1924,2007-02-15,True,4693.0,[X] Unspecified dementia,1997-02-09,2009-07-21,3658.0,887.0,4032.0,4545 days 00:00:00.000000000,0
40,1511127,127,1,1932,2007-03-31,True,8195.0,[X]Alzheimer's dementia unspec,1997-03-25,2013-04-18,3658.0,2210.0,655.0,5868 days 00:00:00.000000000,0
41,10978005,5,2,1927,2007-11-27,True,1917.0,Alzheimer's disease,1997-11-21,2010-09-01,3658.0,1009.0,2635.0,4667 days 00:00:00.000000000,0
42,9541651,651,1,1926,2009-05-29,True,1917.0,Alzheimer's disease,1999-05-24,2013-03-04,3658.0,1375.0,1796.0,5033 days 00:00:00.000000000,0
43,1464384,384,1,1921,2009-10-27,True,4693.0,[X] Unspecified dementia,1999-10-22,2013-01-07,3658.0,1168.0,2245.0,4826 days 00:00:00.000000000,0
44,2214339,339,2,1934,2010-10-01,True,4693.0,[X] Unspecified dementia,2000-09-25,2013-04-12,3658.0,924.0,2426.0,4582 days 00:00:00.000000000,0
45,753413,413,1,1924,2009-10-27,True,6578.0,[X]Vascular dementia,1999-10-21,2013-04-17,3659.0,1268.0,2399.0,4927 days 00:00:00.000000000,0
46,2716323,323,2,1933,2007-02-02,True,1917.0,Alzheimer's disease,1997-01-26,2013-03-19,3659.0,2237.0,2460.0,5896 days 00:00:00.000000000,0
47,6033246,246,1,1934,2008-07-09,True,6578.0,[X]Vascular dementia,1998-07-03,2013-05-13,3659.0,1769.0,3942.0,5428 days 00:00:00.000000000,0
48,10190104,104,2,1920,2011-03-21,True,6578.0,[X]Vascular dementia,2001-03-14,2013-05-01,3659.0,772.0,3060.0,4431 days 00:00:00.000000000,0
49,18013180,180,2,1934,2010-06-28,True,7323.0,Uncomplicated senile dementia,2000-06-21,2012-09-19,3659.0,814.0,3913.0,4473 days 00:00:00.000000000,0
50,7023201,201,1,1925,2007-06-06,True,7664.0,[X]Dementia in Alzheimer's disease,1997-05-30,2010-02-02,3659.0,972.0,4812.0,4631 days 00:00:00.000000000,0
51,9478323,323,1,1932,2007-02-02,True,1350.0,Senile/presenile dementia,1997-01-26,2009-02-25,3659.0,754.0,3321.0,4413 days 00:00:00.000000000,0
52,2228380,380,2,1928,2010-10-27,True,6578.0,[X]Vascular dementia,2000-10-20,2012-11-19,3659.0,754.0,426.0,4413 days 00:00:00.000000000,0
53,18990003,3,1,1921,2011-02-27,True,4693.0,[X] Unspecified dementia,2001-02-20,2013-05-22,3659.0,815.0,3324.0,4474 days 00:00:00.000000000,0
54,989047,47,1,1926,2007-07-02,True,1916.0,Senile dementia,1997-06-24,2011-01-24,3660.0,1302.0,3371.0,4962 days 00:00:00.000000000,0
55,1031023,23,1,1924,2007-08-07,True,7664.0,[X]Dementia in Alzheimer's disease,1997-07-30,2009-09-08,3660.0,763.0,872.0,4423 days 00:00:00.000000000,0
56,9945466,466,2,1931,2010-12-21,True,7323.0,Uncomplicated senile dementia,2000-12-13,2013-03-19,3660.0,819.0,4203.0,4479 days 00:00:00.000000000,0
57,6778045,45,2,1925,2009-07-02,True,4693.0,[X] Unspecified dementia,1999-06-24,2013-05-14,3661.0,1412.0,1914.0,5073 days 00:00:00.000000000,0
58,3552620,620,2,1924,2009-03-18,True,6578.0,[X]Vascular dementia,1999-03-10,2013-04-30,3661.0,1504.0,2754.0,5165 days 00:00:00.000000000,0
59,9792114,114,2,1923,2010-12-07,True,6578.0,[X]Vascular dementia,2000-11-28,2013-04-25,3661.0,870.0,155.0,4531 days 00:00:00.000000000,0
60,9890091,91,2,1930,2005-08-26,True,1917.0,Alzheimer's disease,1995-08-18,2009-02-03,3661.0,1257.0,249.0,4918 days 00:00:00.000000000,0
61,123201,201,2,1924,2007-06-08,True,7664.0,[X]Dementia in Alzheimer's disease,1997-05-30,2010-11-10,3661.0,1251.0,3914.0,4912 days 00:00:00.000000000,0
62,2362383,383,1,1926,2006-03-14,True,1917.0,Alzheimer's disease,1996-03-05,2012-02-09,3661.0,2158.0,1164.0,5819 days 00:00:00.000000000,0
63,17338154,154,2,1920,2006-08-24,True,6578.0,[X]Vascular dementia,1996-08-14,2009-11-19,3662.0,1183.0,4069.0,4845 days 00:00:00.000000000,0
64,22592120,120,2,1925,2005-12-21,True,7323.0,Uncomplicated senile dementia,1995-12-12,2010-11-23,3662.0,1798.0,4143.0,5460 days 00:00:00.000000000,0
65,7790002,2,2,1943,2009-09-10,True,1917.0,Alzheimer's disease,1999-08-31,2013-05-08,3663.0,1336.0,1471.0,4999 days 00:00:00.000000000,0
66,4137205,205,1,1924,2009-12-24,True,4693.0,[X] Unspecified dementia,1999-12-13,2012-09-21,3664.0,1002.0,2490.0,4666 days 00:00:00.000000000,0
67,5010331,331,1,1919,2006-05-14,True,5931.0,H/O: dementia,1996-05-02,2010-01-27,3664.0,1354.0,1201.0,5018 days 00:00:00.000000000,0
68,8223194,194,2,1920,2006-08-21,True,7664.0,[X]Dementia in Alzheimer's disease,1996-08-09,2012-02-16,3664.0,2005.0,2884.0,5669 days 00:00:00.000000000,0
69,560391,391,2,1920,2007-06-08,True,42279.0,Arteriosclerotic dementia NOS,1997-05-27,2009-09-30,3664.0,845.0,1495.0,4509 days 00:00:00.000000000,0
70,14969257,257,1,1931,2008-10-18,True,26270.0,[X]Lewy body dementia,1998-10-06,2013-05-09,3665.0,1664.0,2057.0,5329 days 00:00:00.000000000,0
71,9315482,482,1,1932,2009-11-30,True,1916.0,Senile dementia,1999-11-18,2013-05-08,3665.0,1255.0,4615.0,4920 days 00:00:00.000000000,0
72,2434371,371,2,1931,2009-03-25,True,31016.0,[X]Mixed cortical and subcortical vascular dem...,1999-03-12,2013-05-07,3666.0,1504.0,530.0,5170 days 00:00:00.000000000,0
73,1636288,288,2,1923,2009-09-15,True,1917.0,Alzheimer's disease,1999-09-02,2013-04-23,3666.0,1316.0,467.0,4982 days 00:00:00.000000000,5
74,10681023,23,2,1927,2007-08-13,True,4693.0,[X] Unspecified dementia,1997-07-30,2012-11-23,3666.0,1929.0,574.0,5595 days 00:00:00.000000000,0
75,2509256,256,2,1925,2009-07-28,True,1917.0,Alzheimer's disease,1999-07-15,2012-09-25,3666.0,1155.0,3953.0,4821 days 00:00:00.000000000,0
76,1715184,184,2,1933,2010-09-20,True,31016.0,[X]Mixed cortical and subcortical vascular dem...,2000-09-06,2012-09-26,3666.0,737.0,398.0,4403 days 00:00:00.000000000,0
77,1358454,454,1,1926,2007-08-14,True,1917.0,Alzheimer's disease,1997-07-31,2010-01-13,3666.0,883.0,3027.0,4549 days 00:00:00.000000000,0
78,12659427,427,1,1938,2005-09-15,True,4693.0,[X] Unspecified dementia,1995-09-02,2010-05-26,3666.0,1714.0,616.0,5380 days 00:00:00.000000000,0
79,5148598,598,2,1932,2009-12-22,True,8195.0,[X]Alzheimer's dementia unspec,1999-12-09,2013-05-07,3666.0,1232.0,4826.0,4898 days 00:00:00.000000000,0
80,10584321,321,2,1918,2006-04-19,True,1350.0,Senile/presenile dementia,1996-04-04,2010-02-24,3667.0,1407.0,3242.0,5074 days 00:00:00.000000000,0
81,4360668,668,2,1928,2009-12-07,True,7664.0,[X]Dementia in Alzheimer's disease,1999-11-23,2013-05-17,3667.0,1257.0,2643.0,4924 days 00:00:00.000000000,0
82,1306409,409,2,1918,2008-09-30,True,6578.0,[X]Vascular dementia,1998-09-16,2010-12-17,3667.0,808.0,702.0,4475 days 00:00:00.000000000,0
83,718011,11,1,1925,2011-03-04,True,6578.0,[X]Vascular dementia,2001-02-17,2013-04-30,3667.0,788.0,2909.0,4455 days 00:00:00.000000000,0
84,7607184,184,2,1925,2010-09-21,True,1350.0,Senile/presenile dementia,2000-09-06,2013-04-04,3667.0,926.0,1540.0,4593 days 00:00:00.000000000,3
85,4008201,201,2,1924,2007-06-15,True,7664.0,[X]Dementia in Alzheimer's disease,1997-05-30,2009-09-15,3668.0,823.0,4693.0,4491 days 00:00:00.000000000,0
86,3946003,3,1,1924,2011-03-08,True,4693.0,[X] Unspecified dementia,2001-02-20,2013-04-24,3668.0,778.0,3500.0,4446 days 00:00:00.000000000,0
87,11880476,476,1,1928,2009-10-01,True,6578.0,[X]Vascular dementia,1999-09-16,2012-11-19,3668.0,1145.0,2541.0,4813 days 00:00:00.000000000,0
88,19775396,396,1,1936,2011-03-23,True,1917.0,Alzheimer's disease,2001-03-07,2013-05-15,3668.0,784.0,4643.0,4452 days 00:00:00.000000000,0
89,345230,230,2,1932,2008-04-09,True,4693.0,[X] Unspecified dementia,1998-03-25,2010-11-30,3668.0,965.0,4612.0,4633 days 00:00:00.000000000,0
90,10247020,20,2,1933,2009-10-15,True,6578.0,[X]Vascular dementia,1999-09-30,2013-04-05,3668.0,1268.0,3286.0,4936 days 00:00:00.000000000,0
91,11333166,166,2,1943,2010-04-26,True,8634.0,Multi infarct dementia,2000-04-10,2013-04-25,3668.0,1095.0,3288.0,4763 days 00:00:00.000000000,0
92,13395148,148,1,1922,2006-11-15,True,1916.0,Senile dementia,1996-10-30,2010-01-28,3668.0,1170.0,4290.0,4838 days 00:00:00.000000000,0
93,30728002,2,2,1919,2011-02-01,True,8195.0,[X]Alzheimer's dementia unspec,2001-01-16,2013-02-05,3668.0,735.0,3429.0,4403 days 00:00:00.000000000,0
94,1787476,476,1,1920,2009-10-02,True,7664.0,[X]Dementia in Alzheimer's disease,1999-09-16,2012-01-06,3669.0,826.0,1541.0,4495 days 00:00:00.000000000,0
95,5022483,483,1,1931,2006-07-20,True,6578.0,[X]Vascular dementia,1996-07-03,2013-01-21,3669.0,2377.0,543.0,6046 days 00:00:00.000000000,0
96,1454064,64,1,1927,2010-08-03,True,26270.0,[X]Lewy body dementia,2000-07-17,2013-02-27,3669.0,939.0,1684.0,4608 days 00:00:00.000000000,0
97,13214002,2,2,1930,2009-09-16,True,1917.0,Alzheimer's disease,1999-08-31,2012-12-04,3669.0,1175.0,840.0,4844 days 00:00:00.000000000,0
98,926243,243,2,1929,2009-10-06,True,5931.0,H/O: dementia,1999-09-20,2013-03-13,3669.0,1254.0,2192.0,4923 days 00:00:00.000000000,0
99,9689212,212,1,1927,2009-11-11,True,31016.0,[X]Mixed cortical and subcortical vascular dem...,1999-10-25,2013-04-25,3670.0,1261.0,4710.0,4931 days 00:00:00.000000000,0
100,11455205,205,2,1923,2009-12-30,True,6578.0,[X]Vascular dementia,1999-12-13,2013-04-16,3670.0,1203.0,3517.0,4873 days 00:00:00.000000000,2
101,12471244,244,2,1936,2010-03-22,True,7664.0,[X]Dementia in Alzheimer's disease,2000-03-03,2013-01-21,3671.0,1036.0,2699.0,4707 days 00:00:00.000000000,2
102,9793064,64,2,1922,2011-02-18,True,6578.0,[X]Vascular dementia,2001-01-30,2013-05-03,3671.0,805.0,2686.0,4476 days 00:00:00.000000000,0
103,2900530,530,1,1920,2009-09-25,True,6578.0,[X]Vascular dementia,1999-09-07,2013-05-17,3671.0,1330.0,4741.0,5001 days 00:00:00.000000000,0
104,22703670,670,2,1934,2009-04-20,True,1350.0,Senile/presenile dementia,1999-04-02,2013-04-03,3671.0,1444.0,27.0,5115 days 00:00:00.000000000,0
105,7232427,427,1,1938,2005-09-21,True,4693.0,[X] Unspecified dementia,1995-09-02,2008-03-11,3672.0,902.0,4035.0,4574 days 00:00:00.000000000,0
106,8134282,282,2,1925,2009-04-27,True,19393.0,"[X]Vascular dementia, unspecified",1999-04-08,2013-04-30,3672.0,1464.0,2590.0,5136 days 00:00:00.000000000,0
107,3641446,446,2,1926,2010-08-17,True,1350.0,Senile/presenile dementia,2000-07-27,2013-03-12,3673.0,938.0,4600.0,4611 days 00:00:00.000000000,0
108,6655371,371,1,1927,2009-04-01,True,1350.0,Senile/presenile dementia,1999-03-12,2013-05-07,3673.0,1497.0,3940.0,5170 days 00:00:00.000000000,0
109,11855309,309,2,1935,2007-06-07,True,6578.0,[X]Vascular dementia,1997-05-17,2011-06-22,3673.0,1476.0,1123.0,5149 days 00:00:00.000000000,0
110,2456017,17,1,1920,2008-05-08,True,1917.0,Alzheimer's disease,1998-04-18,2011-10-18,3673.0,1258.0,4199.0,4931 days 00:00:00.000000000,0
111,11751059,59,2,1914,2006-07-07,True,7664.0,[X]Dementia in Alzheimer's disease,1996-06-15,2010-07-08,3674.0,1462.0,2314.0,5136 days 00:00:00.000000000,0
112,4067099,99,2,1914,2005-10-03,True,30032.0,Presenile dementia with paranoia,1995-09-12,2008-11-17,3674.0,1141.0,776.0,4815 days 00:00:00.000000000,1
113,27312670,670,1,1934,2009-04-23,True,6578.0,[X]Vascular dementia,1999-04-02,2013-03-27,3674.0,1434.0,3965.0,5108 days 00:00:00.000000000,0
114,3974321,321,2,1913,2006-04-26,True,1917.0,Alzheimer's disease,1996-04-04,2008-07-03,3674.0,799.0,4520.0,4473 days 00:00:00.000000000,0
115,8351206,206,2,1924,2009-05-12,True,6578.0,[X]Vascular dementia,1999-04-20,2013-04-04,3675.0,1423.0,2678.0,5098 days 00:00:00.000000000,0
116,35623088,88,1,1932,2007-06-29,True,7572.0,Lewy body disease,1997-06-06,2010-04-07,3675.0,1013.0,3304.0,4688 days 00:00:00.000000000,0
117,6925319,319,1,1932,2005-10-28,True,1917.0,Alzheimer's disease,1995-10-06,2009-06-12,3675.0,1323.0,3807.0,4998 days 00:00:00.000000000,0
118,5679409,409,2,1927,2008-10-08,True,1350.0,Senile/presenile dementia,1998-09-16,2012-11-27,3675.0,1511.0,428.0,5186 days 00:00:00.000000000,0
119,1614149,149,2,1926,2006-06-16,True,5931.0,H/O: dementia,1996-05-24,2009-02-17,3675.0,977.0,2008.0,4652 days 00:00:00.000000000,0
120,16043,43,2,1922,2006-01-27,True,1917.0,Alzheimer's disease,1996-01-05,2013-05-02,3675.0,2652.0,4250.0,6327 days 00:00:00.000000000,0
121,912456,456,2,1922,2006-12-15,True,6578.0,[X]Vascular dementia,1996-11-22,2011-09-07,3675.0,1727.0,2989.0,5402 days 00:00:00.000000000,0
122,13557189,189,2,1933,2009-12-16,True,8195.0,[X]Alzheimer's dementia unspec,1999-11-24,2012-09-24,3675.0,1013.0,4963.0,4688 days 00:00:00.000000000,0
123,570243,243,2,1925,2009-10-13,True,1917.0,Alzheimer's disease,1999-09-20,2013-05-07,3676.0,1302.0,2106.0,4978 days 00:00:00.000000000,0
124,7211178,178,1,1939,2009-01-07,True,4693.0,[X] Unspecified dementia,1998-12-14,2013-04-19,3677.0,1563.0,2739.0,5240 days 00:00:00.000000000,0
125,9674199,199,2,1920,2006-06-06,True,7664.0,[X]Dementia in Alzheimer's disease,1996-05-12,2009-04-07,3677.0,1036.0,2888.0,4713 days 00:00:00.000000000,0
126,5594249,249,1,1925,2010-06-09,True,4693.0,[X] Unspecified dementia,2000-05-15,2013-05-08,3677.0,1064.0,1903.0,4741 days 00:00:00.000000000,0
127,7269653,653,2,1928,2007-06-05,True,6578.0,[X]Vascular dementia,1997-05-10,2012-06-08,3678.0,1830.0,4482.0,5508 days 00:00:00.000000000,0
128,1962193,193,1,1923,2007-12-10,True,1916.0,Senile dementia,1997-11-14,2013-01-15,3678.0,1863.0,4226.0,5541 days 00:00:00.000000000,0
129,117011,11,2,1926,2011-03-15,True,6578.0,[X]Vascular dementia,2001-02-17,2013-04-17,3678.0,764.0,940.0,4442 days 00:00:00.000000000,0
130,1475653,653,2,1923,2007-06-06,True,4693.0,[X] Unspecified dementia,1997-05-10,2013-04-17,3679.0,2142.0,412.0,5821 days 00:00:00.000000000,0
131,11119295,295,1,1930,2006-06-29,True,5931.0,H/O: dementia,1996-06-02,2009-01-28,3679.0,944.0,4921.0,4623 days 00:00:00.000000000,0
132,1092447,447,1,1930,2010-01-10,True,5931.0,H/O: dementia,1999-12-15,2013-03-12,3679.0,1157.0,2226.0,4836 days 00:00:00.000000000,0
133,12207091,91,2,1926,2005-09-13,True,1917.0,Alzheimer's disease,1995-08-18,2009-01-07,3679.0,1212.0,82.0,4891 days 00:00:00.000000000,0
134,3839132,132,1,1930,2010-10-12,True,1350.0,Senile/presenile dementia,2000-09-14,2013-04-25,3680.0,926.0,3257.0,4606 days 00:00:00.000000000,0
135,3791113,113,1,1926,2006-01-10,True,4693.0,[X] Unspecified dementia,1995-12-13,2009-02-04,3681.0,1121.0,2671.0,4802 days 00:00:00.000000000,0
136,3035132,132,1,1941,2010-10-13,True,1350.0,Senile/presenile dementia,2000-09-14,2013-04-23,3681.0,923.0,3812.0,4604 days 00:00:00.000000000,0
137,310200,200,1,1930,2011-01-18,True,1350.0,Senile/presenile dementia,2000-12-19,2013-04-10,3682.0,813.0,3047.0,4495 days 00:00:00.000000000,0

In [8]:
raw_pt = pd.read_csv('data/pt_data/raw_data/Extract_Patient_001.txt',delimiter='\t')

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
raw_pt

          patid    vmid  gender  yob  mob  marital  famnum  chsreg chsdate  \
0         57001    1682       1  132    0        2     730       2     NaN
1         60001    3405       1  124    0        6    1475       2     NaN
2        149001    3238       2  119    0        6    1398       2     NaN
3        364001   13436       2  137    0        2    6628       2     NaN
4        432001    4006       2  120    0        6    1726       2     NaN
5        519001    2697       2  127    0        6    1169       2     NaN
6        543001   18952       1  140    0        9    9586       2     NaN
7        558001    6221       2  137    0        6   10580       2     NaN
8        644001    9164       2  135    0        6    5462       2     NaN
9        663001    3049       2  118    0        6    2639       2     NaN
10       676001    6667       2  130    0        6    2801       2     NaN
11       702001   10091       2  122    0        6    4164       2     NaN
12       718001    6765       1  122    0        6    2840       2     NaN
13       746001   12138       2  127    0        6    3213       2     NaN
14       774001   20989       1  129    0        2   10469       2     NaN
15       802001   13315       2  124    0        3    6553       2     NaN
16       803001    4641       1  123    0        6    1980       2     NaN
17       819001    9824       1  127    0        6    4062       2     NaN
18       821001    8451       1  122    0        6    9375       2     NaN
19       830001    2919       2  121    0        6    1261       2     NaN
20       853001   12141       1  120    0        6     141       2     NaN
21       960001   12476       2  119    0        2    5986       2     NaN
22      1064001    1972       2  128    0        6     858       2     NaN
23      1142001    4698       2  117    0        6    1999       2     NaN
24      1252001    3368       2  128    0        6    1456       2     NaN
25      1604001   18426       2  120    0        3    9348       2     NaN
26      1645001    6280       1  129    0        6    2637       2     NaN
27      1670001   10181       2  126    0        6    4201       2     NaN
28      1791001   10392       2  118    0        6    4319       2     NaN
29      1939001    6294       1  127    0        6    6876       2     NaN
30      1946001    6293       2  128    0        6    6876       2     NaN
31      2136001    3901       2  123    0        6    1693       2     NaN
32      2150001   12134       1  122    0        6    2079       2     NaN
33      2156001     294       2  116    0        6     137       2     NaN
34      2192001    6522       2  128    0        6    2739       2     NaN
35      2279001    3583       1  116    0        6    1552       2     NaN
36      2286001    3731       2  119    0        2    1618       2     NaN
37      2586001   11246       2  120    0        6    4799       2     NaN
38      2742001    8930       1  114    0        6    3696       2     NaN
39      2746001   10599       2  111    0        6    4433       2     NaN
40      2747001    7229       2  123    0        5    3019       2     NaN
41      2763001   16407       2  113    0        2    8248       2     NaN
42      2834001    2752       1  127    0        6    1186       2     NaN
43      2855001    1100       2  126    0        2     498       2     NaN
44      2856001    6378       1  128    0        6    2673       2     NaN
45      2985001   15872       2  114    0        3    7961       2     NaN
46      3157001    9778       1  128    0        6    4039       2     NaN
47      3216001    6356       2  114    0        6    2666       2     NaN
48      3282001   13374       1  127    0        2    6591       2     NaN
49      3296001    5706       1  134    0        6    7811       2     NaN
50      3427001      56       2  132    0        2     923       2     NaN
51      3500001    3353       2  134    0        6    1449       2     NaN
52      3510001    2607       1  128    0        6    1131       2     NaN
53      3545001   10946       2  119    0        6    5930       2     NaN
54      3762001   13951       2  120    0        6    6948       2     NaN
55      3795001    1819       2  126    0        6     788       2     NaN
56      3804001   21804       1  111    0        6   10836       2     NaN
57      3807001    6331       2  123    0        6    2657       2     NaN
58      3856001    9799       2  121    0        2    4047       2     NaN
59      3891001   10679       1  137    0        6    4378       2     NaN
60      3914001    6771       1  140    0        6    2842       2     NaN
61      4077001   11215       2  126    0        2    4781       2     NaN
62      4113001    1311       2  130    0        6     581       2     NaN
63      4289001    9653       2  118    0        6    1294       2     NaN
64      4301001   11086       2  117    0        6    4717       2     NaN
65      4345001    7767       2  116    0        6   10867       2     NaN
66      4362001    6847       1  131    0        6    2875       2     NaN
67      4394001    8315       2  114    0        6    3455       2     NaN
68      4485001    9078       1  133    0        6    8488       2     NaN
69      4662001   18053       2  114    0        3    9141       2     NaN
70      4766001    2921       2  123    0        6    1262       2     NaN
71      4816001   10710       1  147    0        6    4516       2     NaN
72      4826001    3389       2  118    0        6    1467       2     NaN
73      4828001    3390       1  118    0        6    1467       2     NaN
74      4909001    2328       1  135    0        2    1003       2     NaN
75      4940001    3640       2  120    0        6    1577       2     NaN
76      4949001    8029       2  121    0        6    3339       2     NaN
77      4991001    1021       1  116    0        2     466       2     NaN
78      5092001    9706       2  123    0        6    4008       2     NaN
79      5128001   13472       1  127    0        2    6651       2     NaN
80      5137001   12491       1  116    0        6     938       2     NaN
81      5413001    7895       1  132    0        6    3284       2     NaN
82      5452001   22276       2  117    0        2   11113       2     NaN
83      5551001    4940       1  123    0        6    2112       2     NaN
84      5688001    4450       2  123    0        6    1899       2     NaN
85      5740001    9307       1  134    0        6    3845       2     NaN
86      5898001    2046       2  135    0        6     891       2     NaN
87      5942001    5351       2  120    0        6    2282       2     NaN
88      5976001    3105       2  135    0        6    1343       2     NaN
89      5988001    3106       1  129    0        6    1343       2     NaN
90      6014001    6454       1  124    0        6    2709       2     NaN
91      6044001   19665       2  126    0        3    9898       2     NaN
92      6227001    9358       2  126    0        6    3864       2     NaN
93      6290001   10140       2  118    0        6    4185       2     NaN
94      6507001   13324       2  134    0        2    6557       2     NaN
95      6522001    3179       2  125    0        6    1374       2     NaN
96      6570001    6689       2  119    0        3    2808       2     NaN
97      6665001   20530       1  139    0        2    8813       2     NaN
98      6804001    4817       2  126    0        6    2055       2     NaN
99      6859001    7305       2  111    0        6    3046       2     NaN
100     6891001   16512       2  122    0        3    8302       2     NaN
101     7046001    8899       2  124    0        6    3686       2     NaN
102     7217001   11445       2  128    0        6    4886       2     NaN
103     7273001    9011       1  124    0        6    3728       2     NaN
104     7362001    8829       1  133    0        6    3670       2     NaN
105     7387001    6554       1  117    0        2    2752       2     NaN
106     7388001    1732       2  120    0        2    2752       2     NaN
107     7396001     725       2  119    0        6     330       2     NaN
108     7624001   11173       1  130    0        6    4762       2     NaN
109     7667001   10042       2  132    0        2    5389       2     NaN
110     7671001   11881       2  118    0        3    5189       2     NaN
111     7677001   12235       2  125    0        0      46       2     NaN
112     7772001   17621       2  116    0        3    8897       2     NaN
113     7856001   12326       1  128    0        2    5844       2     NaN
114     7906001   11258       2  126    0        2    4804       2     NaN
115     7920001   16964       1  132    0        2    8544       2     NaN
116     7976001   10122       2  126    0        6    4178       2     NaN
117     8014001   15935       1  137    0        5    7999       2     NaN
118     8104001   10417       1  119    0        6    4332       2     NaN
119     8190001    2877       2  114    0        6    1241       2     NaN
120     8243001    7163       1  129    0        6    2993       2     NaN
121     8285001    1747       1  119    0        6     760       2     NaN
122     8289001   11271       1  135    0        2    4640       2     NaN
123     8315001    2163       2  117    0        6     940       2     NaN
124     8526001   12242       1  124    0        6    1890       2     NaN
125     8532001    6895       1  114    0        2    2892       2     NaN
126     8568001    6894       2  117    0        2    2892       2     NaN
127     8575001    7499       2  135    0        2    3126       2     NaN
128     8627001    7295       2  139    0        6    3042       2     NaN
129     8708001    9977       2  119    0        6    4122       2     NaN
130     8760001   11744       2  114    0        6    5030       2     NaN
131     8766001    5919       2  130    0        6    2500       2     NaN
132     8880001   10772       2  121    0        6    4547       2     NaN
133     9078001    6205       2  121    0        6    2603       2     NaN
134     9086001    4568       1  120    0        6    1952       2     NaN
135     9089001    5208       2  124    0        6    2222       2     NaN
136     9236001   20275       2  126    0        4   10159       2     NaN
137     9278001     435       1  147    0        6     201       2     NaN
138     9488001    8724       2  106    0        6    3609       2     NaN
139     9615001    4353       2  128    0        6    1861       2     NaN
140     9687001   21871       2  123    0        3    7126       2     NaN
141     9691001   15870       1  130    0        2    7960       2     NaN
142     9709001    9643       2  118    0        6    3985       2     NaN
143     9776001    7140       2  138    0        6    2985       2     NaN
144     9888001   19038       2  121    0        2    9643       2     NaN
145     9941001    3097       1  133    0        6    1340       2     NaN
146     9954001   14846       1  118    0        3    7836       2     NaN
147    10014001    2803       1  135    0        6    1210       2     NaN
148    10051001    1872       2  113    0        6     812       2     NaN
149    10053001   20722       2  125    0        2   10355       2     NaN
150    10074001   11085       2  120    0        6    4716       2     NaN
151    10110001    5307       1  127    0        1    2264       2     NaN
152    10144001   16551       2  119    0        2    8328       2     NaN
153    10148001   10571       1  112    0        6    4419       2     NaN
154    10151001   12725       1  124    0        6    2535       2     NaN
155    10171001    6490       1  116    0        2    3125       2     NaN
156    10189001    3729       1  139    0        6    1617       2     NaN
157    10325001   11498       1  124    0        6    4910       2     NaN
158    10485001    8859       2  137    0        6    3669       2     NaN
159    10749001    2357       1  112    0        6    1019       2     NaN
160    10788001   10445       2  111    0        3    4347       2     NaN
161    10953001    7414       1  117    0        6    3090       2     NaN
162    10980001   17047       2  126    0        4    8584       2     NaN
163    10981001    4818       1  131    0        6    2055       2     NaN
164    11256001     831       1  134    0        2    1237       2     NaN
165    11263001    5663       2  116    0        6    2399       2     NaN
166    11291001    6829       2  123    0        6    2867       2     NaN
167    11569001   12404       1  126    0        6    2786       2     NaN
168    11588001   18606       2  137    0        9    2390       2     NaN
169    11633001    7569       2  123    0        6    3154       2     NaN
170    11783001    9260       1  132    0        6    3828       2     NaN
171    11845001   11501       2  124    0        6    4912       2     NaN
172    11977001   13114       2  127    0        6    2702       2     NaN
173    12058001     782       1  135    0        6     357       2     NaN
174    12060001    8089       2  129    0        6    3365       2     NaN
175    12073001     992       1  139    0        2    5657       2     NaN
176    12107001    9891       2  106    0        6    4090       2     NaN
177    12339001       0       2  121    0        0   11411       2     NaN
178    12491001       0       2  114    0        3   11481       2     NaN
179    12842001       0       1  120    0        2   11627       2     NaN
180    13113001       0       1  124    0        2   11753       2     NaN
181    13114001       0       2  123    0        2   11753       2     NaN
182    13665001       0       2  123    0        4   12007       2     NaN
183    13803001       0       2  123    0        2   12084       2     NaN
184    14109001       0       1  133    0        2   12247       2     NaN
185    14446001       0       1  139    0        4   12421       2     NaN
186    14830001       0       2  118    0        3     322       2     NaN
187    15348001       0       2  117    0        3   12838       2     NaN
188    15430001       0       2  138    0        2   12881       2     NaN
189    15647001       0       2  118    0        3   13004       2     NaN
190    16279001       0       2  128    0        1   13298       2     NaN
191    16283001       0       2  128    0        1   13298       2     NaN
192    16429001       0       2  111    0        3    6982       2     NaN
193    16500001       0       2  117    0        2   13401       2     NaN
194    16567001       0       2  129    0        2   13431       2     NaN
195    16731001       0       1  111    0        0    5963       2     NaN
196    17493001       0       1  120    0        2   13892       2     NaN
197    18056001       0       1  126    0        2   14160       2     NaN
198    18303001       0       2  130    0        3   14289       2     NaN
199    18377001       0       2  118    0        3   14216       2     NaN
200    18506001       0       2  121    0        3   14388       2     NaN
201    19704001       0       2  117    0        3   14981       2     NaN
202    19802001       0       1  124    0        2   15035       2     NaN
203    20102001       0       2  118    0        0     130       2     NaN
204    20268001       0       2  118    0        3   15230       2     NaN
205    20554001       0       2  127    0        4   15344       2     NaN
206    20613001       0       2  126    0        2   15354       2     NaN
207    21198001       0       2  130    0        2   15590       2     NaN
208    21824001       0       2  130    0        8   16293       2     NaN
209    22529001       0       2  114    0        3   16094       2     NaN
210    22855001       0       2  125    0        2   16224       2     NaN
211    23103001       0       2  139    0        2   16340       2     NaN
212    23104001       0       1  134    0        2   16340       2     NaN
213    24953001       0       2  128    0        0   17140       2     NaN
214    25285001       0       2  128    0        3   17303       2     NaN
215    25301001       0       1  122    0        0   17311       2     NaN
216       26002      26       1  113    0        6    9109       2     NaN
217       58002      59       2  119    0        6   12305       2     NaN
218       59002      60       1  117    0        6   12305       2     NaN
219       72002      73       2  143    0        6    8598       2     NaN
220       88002      89       2  111    0        6    5974       2     NaN
221      121002     123       2  130    0        6    4080       2     NaN
222      211002     213       1  138    0        6     835       2     NaN
223      225002     227       1  122    0        6    4362       2     NaN
224      284002     286       2  136    0        6     596       2     NaN
225      285002     287       1  117    0        6    8104       2     NaN
226      300002     302       2  134    0        6    2250       2     NaN
227      316002     318       1  130    0        6   11299       2     NaN
228      369002     371       1  122    0        6    9843       2     NaN
229      439002     442       2  131    0        6    9864       2     NaN
230      522002     525       2  131    0        6    2567       2     NaN
231      568002     573       2  125    0        6    2201       2     NaN
232      593002     598       2  122    0        6   11345       2     NaN
233      595002     600       2  126    0        6   33053       2     NaN
234      602002     607       2  125    0        6   12125       2     NaN
235      613002     618       2  131    0        6    3810       2     NaN
236      638002     643       2  126    0        6    2625       2     NaN
237      690002     695       1  120    0        6    9084       2     NaN
238      727002     733       2  129    0        6   13482       2     NaN
239      885002     891       1  123    0        6    1729       2     NaN
240      892002     899       1  133    0        6    2372       2     NaN
241      917002     924       1  136    0        6   13316       2     NaN
242     1057002    1065       2  130    0        6   11208       2     NaN
243     1117002    1125       2  118    0        6    1980       2     NaN
244     1118002    1126       2  131    0        6    8150       2     NaN
245     1142002    1150       2  128    0        6   10042       2     NaN
246     1237002    1245       1  130    0        6    1084       2     NaN
247     1244002    1252       2  128    0        6    8607       2     NaN
248     1277002    1285       1  139    0        6     772       2     NaN
249     1294002    1302       2  131    0        6    4819       2     NaN
250     1304002    1312       2  120    0        6    5753       2     NaN
251     1306002    1314       2  108    0        6    7404       2     NaN
252     1397002    1406       2  126    0        6    5233       2     NaN
253     1439002    1448       1  134    0        6    7865       2     NaN
254     1468002    1478       2  119    0        6    1544       2     NaN
255     1522002    1532       2  127    0        6    6029       2     NaN
256     1528002    1538       2  126    0        6   11637       2     NaN
257     1588002    1598       2  117    0        6    7114       2     NaN
258     1601002    1611       2  123    0        6    3246       2     NaN
259     1615002    1625       1  129    0        6    1376       2     NaN
260     1722002    1732       1  128    0        6    7476       2     NaN
261     1756002    1766       2  134    0        6    8226       2     NaN
262     1814002    1824       2  120    0        6     805       2     NaN
263     1853002    1863       2  123    0        6   12849       2     NaN
264     1873002    1883       1  123    0        6    8868       2     NaN

In [15]:
pt_features_enhanced = pd.merge(pt_features,raw_pt[['patid','frd','crd','regstat','reggap','internal','tod','toreason','accept']],how='left')

In [27]:
pt_features_enhanced.sort_values(by='reggap',ascending=False)

         patid  pracid  gender  birthyear index_date isCase  \
3453  10637031      31       2       1926 2009-11-06   True
5690   2049031      31       1       1938 2010-12-20  False
6981    126031      31       2       1928 2009-04-27  False
7095  18173295     295       2       1927 2008-07-31  False
2379  11667411     411       1       1942 2008-05-15   True
4861   2869407     407       1       1935 2008-11-26  False
7804   5644226     226       1       1932 2010-12-13  False
2638  21523058      58       2       1933 2008-05-06   True
8333  11083410     410       2       1933 2008-01-14  False
3569  18681295     295       2       1939 2009-10-16   True
2403   7598195     195       2       1927 2008-02-04   True
2645   7471653     653       2       1926 2010-07-01   True
1295   9888109     109       1       1918 2008-07-04   True
7986   9327013      13       1       1937 2009-09-24  False
998    9001051      51       2       1928 2007-09-06   True
8507   2536323     323       2       1922 2011-03-05  False
1603   7857541     541       1       1929 2008-05-28   True
3031   8105162     162       2       1936 2008-10-24   True
5039   1021110     110       1       1939 2010-08-10  False
4801  17553229     229       2       1921 2009-04-06  False
5440  22085182     182       1       1935 2010-12-01  False
2982   2567379     379       2       1922 2008-08-21   True
4103  25001465     465       1       1935 2011-01-20   True
1944  24384470     470       2       1924 2008-06-01   True
5320  11092309     309       2       1935 2008-12-09  False
1210   8875470     470       1       1914 2007-11-12   True
4429   1981099      99       1       1919 2005-12-23  False
809   23693438     438       2       1933 2007-05-09   True
5767  14437525     525       2       1925 2009-10-14  False
892   10688084      84       2       1940 2010-07-02   True
6627   6560335     335       2       1932 2011-02-28  False
4548  14438051      51       2       1926 2009-01-12  False
2935   4139314     314       1       1923 2011-01-21   True
7590   4055590     590       1       1938 2011-04-20  False
3328   4307331     331       1       1942 2009-04-27   True
4741  40488470     470       1       1923 2011-01-01  False
7380  17546284     284       1       1937 2010-05-20  False
236      73013      13       2       1933 2005-09-16   True
961    1395320     320       2       1927 2011-02-07   True
3804  14007227     227       2       1927 2009-07-10   True
7225   3724178     178       2       1940 2010-01-19  False
7099   1338438     438       2       1922 2009-05-26  False
6902   5535057      57       2       1939 2011-03-03  False
2922   4541110     110       2       1917 2009-06-08   True
4713   8743247     247       1       1929 2011-01-10  False
3919   6997247     247       2       1932 2011-03-25   True
4256   4453099      99       2       1931 2010-09-23   True
1716    686653     653       2       1935 2008-07-07   True
1699  12755488     488       2       1921 2006-04-12   True
3727   1127456     456       2       1921 2010-07-08   True
2637  24864438     438       1       1930 2009-01-25   True
8263   8311115     115       2       1929 2007-05-11  False
1965   1798156     156       2       1935 2007-11-26   True
2561   1537159     159       1       1936 2009-07-03   True
1187   6402598     598       1       1936 2010-09-15   True
6608    645163     163       2       1927 2010-01-07  False
6628  17445043      43       2       1930 2009-02-25  False
4756   1477226     226       2       1923 2009-04-17  False
4637   5404463     463       1       1928 2009-10-05  False
4406   5730149     149       1       1938 2010-03-01  False
312    4925079      79       2       1929 2008-09-25   True
8407   3043262     262       2       1930 2008-11-11  False
953    8031199     199       2       1931 2006-12-21   True
1509   7057111     111       1       1934 2010-12-07   True
2559   2046219     219       2       1940 2008-09-22   True
8515   4514044      44       2       1924 2010-09-07  False
4050  13538295     295       2       1940 2010-09-13   True
8599    711438     438       2       1930 2010-08-17  False
1083  31197670     670       2       1937 2009-12-11   True
3702   1981379     379       2       1924 2009-10-05   True
3691  25085088      88       1       1926 2010-01-01   True
6829   1190038      38       1       1937 2009-11-01  False
3671  19601483     483       2       1927 2010-11-24   True
5681  12492227     227       2       1928 2008-12-05  False
2045  25281002       2       1       1944 2011-02-04   True
3772   2573541     541       2       1931 2011-01-20   True
4563    584174     174       2       1933 2008-03-20  False
1072   8060668     668       2       1935 2010-07-29   True
2892   1854231     231       2       1936 2009-05-20   True
5323   5423541     541       2       1929 2010-07-27  False
5089   1781023      23       1       1924 2007-08-07  False
3730   1782023      23       2       1926 2011-03-17   True
7858   1423247     247       1       1930 2010-03-15  False
4127   9650115     115       1       1928 2010-08-31   True
2174  14461465     465       2       1923 2008-03-04   True
5374   7158024      24       2       1920 2010-07-16  False
5704   3617476     476       1       1920 2009-10-02  False
6835   6868020      20       2       1922 2008-02-25  False
7129     45044      44       2       1930 2009-10-26  False
4151   4873338     338       1       1945 2010-04-01   True
113   27312670     670       1       1934 2009-04-23   True
6973  21579270     270       1       1917 2009-07-13  False
50     7023201     201       1       1925 2007-06-06   True
8341   1045099      99       1       1930 2010-02-26  False
7476   6431319     319       1       1921 2006-02-17  False
6997  22749284     284       2       1926 2010-12-13  False
85     4008201     201       2       1924 2007-06-15   True
2947   4355321     321       2       1929 2008-09-03   True
1800   3888201     201       1       1929 2008-08-19   True
5285  25237164     164       1       1919 2008-09-03  False
3918    540194     194       2       1921 2010-07-22   True
5689   9828637     637       1       1922 2010-11-29  False
3311  17988653     653       1       1926 2010-04-23   True
5494   5793023      23       2       1926 2010-04-19  False
2624   9522357     357       2       1923 2008-04-07   True
6348   4163023      23       2       1922 2009-09-04  False
3577   7824024      24       1       1929 2011-03-22   True
6975   1908323     323       1       1932 2008-12-17  False
7606     39438     438       2       1928 2008-06-19  False
7774   9900262     262       1       1931 2008-08-05  False
662    5392021      21       2       1939 2009-02-09   True
7274  16635229     229       2       1929 2011-03-28  False
8360   6007321     321       2       1919 2008-03-13  False
1912   4646099      99       1       1921 2007-01-04   True
6093  16624038      38       1       1930 2007-01-01  False
5892  15331344     344       1       1927 2009-11-16  False
3844     48323     323       1       1924 2010-11-23   True
5944   8535093      93       2       1929 2010-02-24  False
6183   1638611     611       1       1933 2011-02-11  False
1591   8401018      18       2       1921 2009-10-19   True
2015  12246366     366       2       1937 2009-02-24   True
5172   4758145     145       1       1944 2011-02-01  False
292     211338     338       1       1925 2005-11-09   True
34     1037056      56       2       1923 2006-08-10   True
4364   6232018      18       1       1926 2007-01-10  False
852   11671257     257       2       1929 2007-05-28   True
6289  12062257     257       2       1933 2007-11-28  False
8352   8707020      20       2       1924 2008-07-11  False
7491   6036455     455       1       1931 2011-03-03  False
7240  13242257     257       2       1929 2007-12-12  False
342    8004653     653       1       1913 2007-07-23   True
5207  12986196     196       2       1928 2010-02-11  False
5527   4620085      85       2       1933 2011-02-02  False
5773   4037415     415       2       1916 2008-10-27  False
5782   3083417     417       2       1925 2010-08-02  False
5781  13030013      13       2       1919 2010-08-04  False
5780   1409447     447       2       1916 2010-02-12  False
5455   3999651     651       1       1936 2011-01-24  False
5779   2549398     398       2       1935 2009-07-27  False
5778  19615284     284       1       1936 2011-03-04  False
5777  17322031      31       1       1931 2010-10-26  False
5776   8675021      21       2       1926 2009-10-06  False
5775  16821319     319       1       1932 2005-10-28  False
5456   3140123     123       2       1915 2010-01-14  False
5774   3916565     565       2       1940 2009-09-28  False
5772   8289001       1       1       1935 2007-06-05  False
5457   2687081      81       1       1930 2006-12-18  False
5454   3484246     246       1       1922 2009-05-11  False
5771  24817164     164       1       1927 2010-09-23  False
5458  20585013      13       1       1936 2010-08-18  False
5459   8359456     456       2       1920 2008-03-19  False
5770  23198404     404       2       1946 2011-01-11  False
5769   5339226     226       2       1930 2009-11-13  False
5768   2224409     409       2       1923 2008-11-05  False
5460   5551001       1       1       1923 2007-09-12  False
5461   5887227     227       1       1926 2007-07-16  False
5766  15568227     227       2       1926 2008-09-02  False
5765   8999205     205       2       1927 2011-02-01  False
5462   7772201     201       1       1934 2010-08-27  False
5783    763243     243       2       1939 2010-06-02  False
5784   5266031      31       1       1938 2010-08-05  False
5763   6302314     314       1       1921 2011-01-24  False
5785   4592123     123       1       1927 2010-09-20  False
5806   7546389     389       1       1944 2011-01-01  False
5805   5669158     158       1       1931 2009-05-09  False
5450   6588162     162       2       1928 2006-09-01  False
5451   1514282     282       1       1926 2009-11-01  False
5804   1943419     419       2       1930 2011-02-16  False
5452   7893158     158       2       1927 2008-01-31  False
5803   5325309     309       1       1928 2011-01-13  False
5802   1163119     119       1       1936 2008-01-15  False
5801  10380314     314       2       1923 2009-11-13  False
5800    917280     280       2       1925 2011-01-25  False
5799  12662270     270       2       1930 2011-03-29  False
5798  11543520     520       2       1926 2010-03-02  False
5797   7961223     223       2       1921 2009-10-16  False
5796   3262147     147       2       1929 2010-02-08  False
5795   2400097      97       2       1927 2009-07-09  False
5794  15968427     427       2       1927 2006-08-01  False
5453  11537486     486       2       1944 2010-09-14  False
5793   8646256     256       2       1922 2009-12-30  False
5792   2773429     429       1       1924 2010-04-29  False
5791    465320     320       1       1927 2011-01-13  False
5790   9159343     343       2       1914 2008-05-02  False
5789  17131145     145       2       1935 2010-11-08  False
5788   6692383     383       1       1926 2009-09-01  False
5787   2591483     483       2       1921 2008-08-18  False
5786    756159     159       1       1927 2009-10-12  False
5764   6553409     409       2       1923 2009-05-26  False
5761   4287111     111       2       1917 2010-03-22  False
5762  12647319     319       2       1936 2008-12-03  False
5731   3820447     447       2       1929 2010-10-06  False
5469    431093      93       1       1925 2008-05-08  False
5470   2677017      17       1       1924 2010-01-27  False
5471  11988309     309       1       1936 2010-11-09  False
5737   5527174     174       1       1935 2008-01-23  False
5736  12942463     463       1       1933 2010-04-27  False
5735   1430115     115       2       1923 2009-09-04  False
5472   2045056      56       2       1923 2008-11-25  False
5734   2571251     251       1       1925 2010-11-29  False
5473   3656450     450       1       1929 2011-01-05  False
5733    491227     227       1       1929 2006-10-24  False
5732   3749246     246       1       1928 2009-08-19  False
5474  11332295     295       1       1925 2008-12-22  False
5730   1369409     409       2       1919 2008-12-12  False
5718  17073407     407       2       1928 2006-11-10  False
5729  18163246     246       1       1920 2011-03-11  False
5728  10174072      72       2       1934 2011-03-11  False
5727   2951099      99       2       1917 2007-05-18  False
5726   2148657     657       1       1935 2009-01-28  False
5725   2499338     338       1       1924 2009-01-01  False
5724   7457038      38       1       1930 2006-10-24  False
5723   5523447     447       2       1930 2011-03-02  False
5722   3828115     115       2       1938 2008-12-10  False
5721    976353     353       1       1928 2010-07-07  False
5720   5855271     271       2       1935 2011-02-11  False
5475   1141293     293       1       1928 2009-05-11  False
5719   7228153     153       2       1930 2011-03-21  False
5468   2476043      43       2       1921 2009-11-10  False
5738   3815349     349       2       1945 2011-04-27  False
5739  20139164     164       1       1926 2008-06-18  False
5740   5898001       1       2       1935 2009-11-17  False
5463   9727415     415       1       1924 2009-05-15  False
5464   1714219     219       2       1927 2009-12-29  False
5465  27543088      88       1       1920 2006-07-10  False
5760  26036232     232       1       1930 2011-03-01  False
5759   5337379     379       1       1928 2007-09-24  False
5466   3168110     110       1       1938 2008-04-02  False
5758   3630194     194       2       1933 2008-04-21  False
5757  11771657     657       2       1920 2009-12-15  False
5756  18180030      30       2       1929 2010-10-19  False
5755    731338     338       1       1945 2010-04-01  False
5754  21630438     438       2       1937 2011-01-01  False
5753   1501290     290       1       1925 2008-04-07  False
5752  39554229     229       2       1920 2007-08-30  False
5751    403221     221       2       1931 2010-09-03  False
5750   7458404     404       2       1935 2011-02-10  False
5749  15964110     110       2       1931 2008-11-21  False
5748   7970178     178       2       1929 2010-03-26  False
5747   2125473     473       1       1931 2010-11-11  False
5746   6825374     374       2       1939 2010-11-04  False
5745   9953031      31       1       1941 2009-10-09  False
5744   9635456     456       2       1928 2009-12-07  False
5743   2371167     167       2       1926 2009-04-16  False
5742   2123409     409       1       1918 2010-03-10  False
5741   3917202     202       2       1929 2010-11-01  False
5467   4667273     273       2       1922 2009-03-30  False
5449    883059      59       1       1924 2011-03-30  False
5807   2026319     319       2       1916 2006-05-02  False
5808  18399051      51       2       1938 2011-02-15  False
5868  10082225     225       1       1922 2009-12-10  False
5878  11674483     483       2       1937 2009-10-14  False
5877  15362164     164       1       1925 2009-07-15  False
5876    659003       3       1       1921 2011-02-27  False
5875   7824164     164       2       1938 2008-04-11  False
5432  12660670     670       2       1925 2010-05-24  False
5874    458167     167       1       1938 2010-05-20  False
5873   7774093      93       1       1926 2009-06-03  False
5872  10361081      81       2       1924 2009-09-24  False
5871  14579270     270       2       1932 2006-12-06  False
5870    665668     668       2       1929 2010-07-12  False
5433   2314359     359       1       1930 2010-09-28  False
5869   2203295     295       2       1923 2009-12-10  False
5867   7892488     488       2       1921 2006-04-12  False
5879   1543339     339       2       1929 2011-02-08  False
5434   4929021      21       1       1933 2009-04-03  False
5866  18886270     270       1       1927 2006-05-03  False
5865   2974471     471       2       1933 2010-05-05  False
5864   2192001       1       2       1928 2011-03-03  False
5863   4239071      71       2       1924 2010-10-21  False
5435   1976071      71       2       1929 2010-03-17  False
5862   8488379     379       2       1919 2010-08-19  False
5861    680335     335       2       1929 2010-11-02  False
5860   7175047      47       1       1938 2010-11-18  False
5859   4155617     617       1       1927 2008-08-14  False
5436  14625093      93       2       1925 2010-08-23  False
5437  18666030      30       1       1931 2010-08-18  False
5431    408071      71       2       1920 2010-12-22  False
5880    466127     127       1       1932 2007-03-31  False
5448   6782166     166       2       1934 2009-06-23  False
5890   2973091      91       2       1925 2006-06-30  False
5902   3483142     142       1       1935 2010-09-09  False
5901    115438     438       2       1925 2008-08-14  False
5900   5045162     162       2       1925 2011-03-18  False
5899  13514323     323       2       1942 2007-05-29  False
5898   5658226     226       2       1926 2009-06-16  False
5897   8438179     179       2       1927 2008-03-26  False
5896   6095002       2       1       1935 2009-09-03  False
5895   4029017      17       2       1939 2009-04-28  False
5894   5218201     201       2       1924 2007-06-15  False
5893  12429079      79       2       1924 2010-03-24  False
5425   9566154     154       2       1921 2010-04-21  False
5891  21388200     200       1       1935 2011-02-01  False
5889    349025      25       2       1921 2010-11-16  False
5430   2996325     325       1       1940 2008-08-14  False
5888   5182089      89       1       1921 2009-01-19  False
5426   4576149     149       1       1944 2010-04-15  False
5887   2681081      81       2       1926 2011-03-09  False
5427   8023565     565       2       1930 2009-10-02  False
5886   5797565     565       2       1939 2010-05-05  False
5885   8703400     400       1       1923 2009-05-18  False
5884   4251391     391       2       1929 2008-05-23  False
5883   8803164     164       1       1936 2009-07-08  False
5428   6457271     271       2       1936 2010-07-29  False
5882   4770182     182       1       1925 2009-12-10  False
5429   5121446     446       1       1929 2011-02-01  False
5881  13070344     344       2       1924 2010-04-30  False
5858   5051622     622       1       1926 2007-02-05  False
5857   3806024      24       2       1923 2011-02-02  False
5438   2541087      87       1       1934 2010-01-26  False
5821   5015013      13       2       1918 2007-12-17  False
5444   2038333     333       1       1933 2011-01-31  False
5830    932129     129       2       1917 2006-10-16  False
5829   6175110     110       1       1931 2010-09-21  False
5828    466471     471       2       1929 2010-01-01  False
5445   1044435     435       2       1921 2010-10-05  False
5827   1382219     219       2       1930 2007-02-06  False
5826   4328398     398       2       1921 2008-01-17  False
5825   5243343     343       1       1942 2008-01-16  False
5824  13118284     284       2       1928 2009-01-22  False
5823    303344     344       2       1936 2011-03-03  False
5822   6289064      64       1       1927 2010-08-03  False
5446   3935174     174       2       1936 2009-02-05  False
5820    269164     164       1       1944 2010-11-03  False
5856    874129     129       2       1927 2010-04-26  False
5819   1062675     675       2       1924 2010-09-06  False
5818   1605370     370       2       1931 2010-06-01  False
5817   6572202     202       2       1932 2010-06-15  False
5816   7776178     178       1       1925 2010-02-13  False
5815   2124315     315       2       1921 2011-01-31  False
5814   3652098      98       2       1939 2009-08-11  False
5813   2154273     273       2       1935 2010-10-04  False

In [22]:
len(pt_features_enhanced[pt_features_enhanced['reggap']>100])

88

In [6]:
pegmed = pd.read_csv('data/dicts/proc_pegasus_medical.csv',delimiter=',')

In [15]:
pegmed[pegmed['read term'].str.contains('sleep|insomnia*',na=False,case=False)].sort_values(by='clinical events',ascending=False)

,medcode,readcode,clinical events,immunisation events,referral events,test events,read term,database build
49117,750,R005200,587291,0,3187,2,[D]Insomnia NOS,February 2009
80421,4537,1B1B.11,449676,0,2211,0,C/O - insomnia,February 2009
47755,8084,R005.00,188663,0,405,0,[D]Sleep disturbances,February 2009
6372,13173,663O.00,127337,0,1,1,Asthma not disturbing sleep,February 2009
94784,4023,E274111,117094,0,506,0,Insomnia NOS,February 2009
96971,7725,1B1Q.00,91558,0,1008,0,Poor sleep pattern,February 2009
30061,38143,663O000,79953,0,0,0,Asthma never disturbs sleep,February 2009
13395,2329,Fy0..00,66577,0,2211,6,Sleep disorders,February 2009
23541,1244,R005000,61853,0,1300,0,"[D]Sleep disturbance, unspecified",February 2009
38776,5921,Fy00.00,55901,0,740,0,Disorders of initiating and maintaining sleep,February 2009
100756,21305,1B1B.00,51359,0,166,0,Cannot sleep - insomnia,February 2009
88501,7416,663N.00,43757,0,15,0,Asthma disturbing sleep,February 2009
7995,7819,E274.00,38979,0,572,0,Non-organic sleep disorders,February 2009
20185,2506,R005311,26210,0,7720,1,[D]Sleep apnoea syndrome,February 2009
43332,8148,Fy03.11,18612,0,1019,0,Obstructive sleep apnoea,February 2009
23827,17528,1B1R.00,17218,0,5,0,Good sleep pattern,February 2009
63062,7603,Fy03.00,12719,0,2057,0,Sleep apnoea,February 2009
51864,4559,3148.00,12373,0,1503,0,Sleep studies,February 2009
67234,10349,R005.11,7563,0,44,0,[D]Insomnia - symptom,February 2009
97028,13175,663N200,7459,0,1,0,Asthma disturbs sleep frequently,February 2009
55249,38146,663N100,6673,0,0,0,Asthma disturbs sleep weekly,February 2009
40015,15515,E274100,5018,0,10,0,Transient insomnia,February 2009
18829,4597,1B1B200,4208,0,24,1,Late insomnia,February 2009
21704,93615,9Nk0.00,3996,0,24,0,Seen in sleep clinic,February 2009
92751,3523,1B1B000,3875,0,21,0,Initial insomnia,February 2009
7366,11721,E274700,3643,0,340,0,Somnambulism - sleep walking,February 2009
24685,34148,67IT.00,3533,0,3,0,Advice to carer regarding child's sleep,February 2009
13385,12072,8Q0..00,3455,0,110,0,Sleep management,February 2009
77228,10989,1BX..00,3382,0,88,0,Sleep observations,February 2009
71636,30626,Eu51000,2458,0,4,0,[X]Nonorganic insomnia,February 2009
...,...,...,...,...,...,...,...,...
74701,47745,E274600,59,0,0,0,Shifting sleep-work schedule,February 2009
49837,37448,TJ7z000,46,0,1,0,Adverse reaction to sleeping pill NOS,February 2009
16732,43098,E274y00,45,0,0,0,Other non-organic sleep disorder,February 2009
43676,100177,38Da.00,44,0,3,0,Berlin questionnaire for sleep apnoea,July 2010
108,16862,E274A00,41,0,1,0,Sleep drunkenness,February 2009
71770,53912,Fyu5800,39,0,1,0,[X]Other sleep disorders,February 2009
105413,23923,Eu51200,37,0,1,0,[X]Nonorganic disorder of the sleep-wake schedule,February 2009
97123,41737,R005900,34,0,0,0,[D]Sleep dysfunction with arousal disturbance,February 2009
64562,36745,E274F00,28,0,0,0,Inversion of sleep rhythm,February 2009
31740,48783,E274D00,27,0,0,0,Repetitive intrusions of sleep,February 2009
104180,67187,13FM.00,27,0,0,0,Sleeping in night shelter,February 2009
6763,54458,R005800,26,0,0,0,[D]Sleep dysfunction with sleep stage disturbance,February 2009
39721,49601,Fy05.00,22,0,0,0,Nocturnal sleep-related eating disorder,February 2009
63914,51397,ZV1B100,21,0,1,0,[V]Personal history of unhealthy sleep-wake sc...,February 2009
98495,58911,R005700,20,0,1,0,[D]Sleep-wake rhythm non-24-hour cycle,February 2009
71187,60974,1BX9.00,19,0,0,0,Light sleep,February 2009
24139,47418,U607z12,19,0,0,0,[X] Adverse reaction to sleeping pill NOS,February 2009
32410,55179,E274C00,16,0,0,0,Other sleep stage or arousal dysfunction,February 2009
21103,46445,U1A2.11,16,0,0,0,[X]Accidental poisoning with sleeping tablets,February 2009
28486,22819,Eu51z00,14,0,0,0,"[X]Nonorganic sleep disorder, unspecified",February 2009
36587,64498,ZV75312,10,0,0,0,[V]Screening for sleeping sickness,February 2009
84909,101913,Z1M1.00,9,0,0,0,Disturbing sleep,March 2011
101995,98268,38D1.00,6,0,0,0,Insomnia severity index,December 2009
104296,104005,9b9Y.00,5,0,1,0,Sleep studies - specialty,May 2012
12266,62925,Eu51y00,4,0,0,0,[X]Other nonorganic sleep disorders,February 2009
36632,101921,8G99.00,3,0,1,0,Sleep restriction therapy,March 2011
51085,71920,0A94.00,3,0,0,0,Sleeping-car attendant,February 2009
10126,104942,38D0.00,2,0,0,0,Pittsburgh sleep quality index,September 2012
84627,101729,Eu51213,1,0,0,0,[X]Psychogenic inversion of sleep rhythm,February 2011
39882,96694,T163000,1,0,0,0,MVTA-driver fell asleep - motor vehicle driver...,April 2009