In [30]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
cd ~/demres

/Users/zurfarosa/demres

In [32]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
from datetime import date, timedelta
from pprint import pprint

import demres
from demres.common.constants import entry_type
from demres.common import codelists
from demres.common.helper_functions import *
from demres.demins.constants import Study_Design
from demres.demins.functions import *

In [36]:
pt_features = pd.read_csv('data/pt_data/processed_data/pt_features_demins.csv',delimiter=',',parse_dates=['index_date','data_end','data_start'],infer_datetime_format=True)

In [37]:
pt_features.head(3)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,...,sga_depots_pdds_window0,fga_depots_pdds_window0,antidepressants_pdds_window0,mood_stabilisers_pdds_window1,sedatives_pdds_window1,fgas_pdds_window1,sgas_pdds_window1,sga_depots_pdds_window1,fga_depots_pdds_window1,antidepressants_pdds_window1
0,12440330,2,1925,330,2010-03-30,True,4693.0,2000-03-22,2010-04-09,50163.0,...,0.0,0.0,198.07,0.0,0.00,0.0,501.4,0.0,0.0,490.85
1,16055443,2,1927,443,2010-12-20,True,1350.0,2000-12-15,2011-01-13,65618.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00
2,2994148,2,1919,148,2007-02-15,True,1916.0,1997-01-20,2007-02-21,21685.0,...,0.0,0.0,0.00,0.0,473.64,0.0,0.0,0.0,0.0,0.00

In [35]:
entries = pd.read_hdf('hdf/medcoded_entries.hdf')

In [38]:
entries.head(3)

   patid  eventdate    sysdate  medcode  type
0  57001 1994-10-31 1997-03-09     3550     2
1  57001 1994-10-31 1997-03-09     9897     2
2  57001 1993-01-28 1997-03-09     4447     2

In [46]:
codelist = codelists.sleep_apnoea

In [56]:
windows = get_windows() #[{'end': timedelta(0), 'start': timedelta(3650)}]

In [60]:
pt_features = get_condition_status(pt_features,entries,windows,codelist,int_or_boolean='boolean')

In [62]:
pt_features[pt_features['sleep_apnoea_window1']==True]

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,...,antidepressants_pdds_window0,mood_stabilisers_pdds_window1,sedatives_pdds_window1,fgas_pdds_window1,sgas_pdds_window1,sga_depots_pdds_window1,fga_depots_pdds_window1,antidepressants_pdds_window1,sleep_apnoea_window0,sleep_apnoea_window1
2189,6129152,1,1938,152,2010-09-01,True,26270.0,2000-04-03,2013-04-12,22087.0,...,705.91,0.0,350.00,0.00,0.0,0.0,0.0,3340.47,False,True
3340,4405263,1,1937,263,2010-09-30,False,0.0,1999-11-23,2013-05-07,40756.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,False,True
3394,12247147,1,1923,147,2010-08-19,False,0.0,1999-07-06,2012-12-24,21485.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,33.62,False,True
3720,5985349,1,1932,349,2010-07-05,True,6578.0,1999-10-12,2013-05-07,52583.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,False,True
4261,308438,2,1932,438,2008-04-22,True,6578.0,1996-11-03,2010-07-28,64318.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,False,True
5138,15593620,1,1944,620,2009-08-19,True,6578.0,1999-03-10,2013-04-25,86998.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,False,True
5426,7971251,2,1943,251,2009-06-18,True,9509.0,1999-01-27,2013-05-08,38485.0,...,340.15,0.0,1509.11,0.00,0.0,0.0,0.0,352.00,False,True
6900,4029017,2,1939,17,2009-04-28,False,0.0,1998-04-18,2013-04-12,2654.0,...,31.50,0.0,0.00,0.00,0.0,0.0,0.0,154.12,True,True
6972,5453020,1,1942,20,2009-06-12,True,6578.0,1996-02-02,2011-02-14,3224.0,...,120.00,0.0,0.00,1.16,0.0,0.0,0.0,84.04,False,True
7447,7871343,1,1931,343,2009-10-13,True,1917.0,1995-09-15,2011-01-05,51698.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,False,True
7811,15563398,1,1942,398,2011-02-04,False,0.0,1997-11-28,2013-05-16,59009.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,True,True
8414,626023,1,1923,23,2010-12-13,True,7664.0,1997-07-30,2013-05-07,3522.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,False,True
9043,10980001,2,1926,1,2010-10-15,True,1917.0,1997-03-07,2013-03-06,159.0,...,1419.13,0.0,0.00,0.00,0.0,0.0,0.0,3136.51,False,True
10608,8785031,1,1933,31,2009-06-15,True,1917.0,1996-08-27,2013-05-09,4953.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,False,True
11749,2559588,1,1930,588,2008-07-07,False,0.0,1996-03-18,2013-04-24,84134.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,False,True
12587,11974255,2,1930,255,2009-10-16,False,0.0,1995-09-01,2013-04-25,38984.0,...,1325.53,0.0,102.42,0.00,0.0,0.0,0.0,605.10,False,True

In [45]:
pt_features.to_csv('data/pt_data/processed_data/pt_features_demins.csv',index=False)