In [127]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [128]:
cd ~/demres

/Users/zurfarosa/demres

In [155]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
from datetime import date, timedelta

import demres
from demres.common.constants import entry_type
from demres.common import codelists
from demres.common.helper_functions import *
from demres.common.process_raw_data import *
from demres.demins.constants import Study_Design
from demres.demins.functions import get_insomnia_event_count

In [139]:
pt_features = pd.read_csv('data/pt_data/processed_data/pt_features_demins.csv',delimiter=',',parse_dates=['index_date','data_end','data_start'],infer_datetime_format=True)

In [140]:
pt_features.head(3)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid
0,12440330,2,1925,330,2010-03-30,True,4693.0,2000-03-22,2010-04-09,50163.0
1,16055443,2,1927,443,2010-12-20,True,1350.0,2000-12-15,2011-01-13,65618.0
2,2994148,2,1919,148,2007-02-15,True,1916.0,1997-01-20,2007-02-21,21685.0

In [141]:
pt_features.data_end.dtype

dtype('<M8[ns]')

In [132]:
medcoded_entries = pd.read_hdf('hdf/medcoded_entries.hdf')

In [142]:
medcoded_entries.head(3)

   patid  eventdate    sysdate  medcode  type
0  57001 1994-10-31 1997-03-09     3550     2
1  57001 1994-10-31 1997-03-09     9897     2
2  57001 1993-01-28 1997-03-09     4447     2

In [97]:
medcoded_entries.sysdate.dtype

dtype('<M8[ns]')

In [149]:
entries = medcoded_entries

In [223]:
pt_features.head(3)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid
0,12440330,2,1925,330,2010-03-30,True,4693.0,2000-03-22,2010-04-09,50163.0
1,16055443,2,1927,443,2010-12-20,True,1350.0,2000-12-15,2011-01-13,65618.0
2,2994148,2,1919,148,2007-02-15,True,1916.0,1997-01-20,2007-02-21,21685.0

In [224]:
# Create list of all insomnia entries, then group it to calculate each patient's insomnia count, broken down by month
insomnia_medcodes = get_medcodes_from_readcodes(codelists.insomnia_readcodes)
insom_events = entries[entries['medcode'].isin(insomnia_medcodes)]
insom_events = insom_events[pd.notnull(insom_events['eventdate'])] #drops a small number of rows (only about 64) with NaN eventdates
insom_events = insom_events[['patid','eventdate']].set_index('eventdate').groupby('patid').resample('M').count()
#convert group_by object back to dataframe
insom_events = insom_events.add_suffix('_count').reset_index()
insom_events.columns=['patid','eventdate','insom_count']
#delete zero counts
insom_events = insom_events[insom_events['insom_count']>0]
insom_events = pd.merge(insom_events,pt_features,how='inner')[['patid','eventdate','insom_count','index_date']]

In [225]:
insom_events.head(3)

   patid  eventdate  insom_count index_date
0   4657 1997-01-31            1 2010-07-13
1   4657 1998-12-31            1 2010-07-13
2   8667 1996-10-31            1 2009-10-26

In [226]:
for window_count,window in enumerate(get_windows()):
    window_insom_events = insom_events
    window_count = str(window_count)
    print(window_count)
    # Restrict insomnia event counts to those that occur during exposure window
    relevant_event_mask = (window_insom_events['eventdate']<=(window_insom_events['index_date']-window['start_latency'])) & (window_insom_events['eventdate']>=(window_insom_events['index_date']-window['end_latency']))
    window_insom_events = window_insom_events.loc[relevant_event_mask]
    window_insom_events = window_insom_events.groupby('patid')['insom_count'].count().reset_index()
    window_insom_events.columns=['patid','insom_count_window'+window_count]
#     merge pt_features with new insomnia_event dataframe
    pt_features = pd.merge(pt_features,window_insom_events,how='left')
    pt_features['insom_count_window'+window_count].fillna(0,inplace=True)
    pt_features['insom_count_window'+window_count] = pt_features['insom_count_window'+window_count].astype(int)

0
1
2

In [227]:
pt_features.head(3)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,insom_count_window0,insom_count_window1,insom_count_window2
0,12440330,2,1925,330,2010-03-30,True,4693.0,2000-03-22,2010-04-09,50163.0,0,0,0
1,16055443,2,1927,443,2010-12-20,True,1350.0,2000-12-15,2011-01-13,65618.0,0,0,0
2,2994148,2,1919,148,2007-02-15,True,1916.0,1997-01-20,2007-02-21,21685.0,0,1,1

In [221]:
# pt_features = pt_features.drop(['insom_count_window0','insom_count_window1'],axis=1)

In [228]:
pt_features.sort_values(by='insom_count_window0',ascending=False)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,insom_count_window0,insom_count_window1,insom_count_window2
7712,6762193,2,1917,193,2009-02-05,False,NaN,1997-11-14,2013-04-22,29000.0,27,1,0
9452,5114043,2,1916,43,2008-11-08,True,42279.0,1996-01-05,2012-03-10,6073.0,11,0,0
413,2287025,2,1944,25,2011-03-22,True,6578.0,2000-04-27,2011-10-12,4002.0,9,0,0
10778,5842194,2,1939,194,2010-05-06,True,6578.0,1996-08-09,2013-05-10,29106.0,9,7,2
12518,8291322,2,1921,322,2009-10-08,False,NaN,1995-09-21,2013-04-22,49130.0,9,28,21
6950,1570199,1,1928,199,2006-07-11,True,4693.0,1996-05-12,2011-05-20,30000.0,6,5,1
2424,10871398,2,1919,398,2009-04-21,True,4693.0,1997-11-28,2011-01-20,58999.0,6,0,0
8534,199159,2,1931,159,2009-03-30,True,1350.0,1997-07-27,2013-05-13,23587.0,6,3,1
3623,179091,1,1934,91,2006-06-15,True,7664.0,1995-08-18,2009-03-05,12680.0,5,2,11
6660,11218031,2,1920,31,2009-03-02,False,NaN,1996-08-27,2011-07-06,5094.0,5,3,0
11495,2477115,2,1922,115,2010-10-10,False,NaN,1996-03-03,2013-02-26,16355.0,5,4,1
10492,5302444,1,1920,444,2010-11-22,True,1917.0,1996-05-07,2013-01-04,65741.0,5,0,0
7578,594441,2,1919,441,2008-08-28,False,NaN,1997-08-28,2013-01-09,65086.0,5,2,2
8320,7683322,2,1915,322,2009-04-23,False,NaN,1995-09-21,2011-06-16,49146.0,5,0,0
10150,3691174,2,1923,174,2010-03-02,False,NaN,1996-11-06,2013-05-09,26076.0,5,3,0
2771,3909084,2,1928,84,2010-01-04,False,NaN,1999-12-10,2013-04-02,11291.0,5,1,0
2136,9319411,1,1921,411,2006-12-08,True,6578.0,1996-08-16,2009-08-18,61196.0,5,1,0
11927,4388383,2,1918,383,2009-06-03,False,NaN,1996-03-05,2013-05-03,57095.0,4,2,3
6949,2611190,2,1925,190,2010-11-26,False,NaN,1998-02-04,2013-02-11,28728.0,4,0,0
10707,8163031,1,1923,31,2010-03-02,False,NaN,1996-08-27,2013-05-17,4932.0,4,0,0
9192,3206404,2,1922,404,2010-03-24,False,NaN,1997-05-01,2013-05-21,60094.0,4,2,4
2196,1822025,2,1924,25,2011-04-07,False,NaN,2000-04-27,2013-05-08,4071.0,4,0,0
77,12229411,2,1939,411,2006-12-22,True,6578.0,1996-08-16,2007-03-15,61217.0,4,0,0
1977,4057205,2,1921,205,2010-02-16,True,8195.0,1999-12-13,2012-11-06,31193.0,4,1,1
8232,604441,1,1924,441,2010-11-03,True,7664.0,1997-08-28,2013-05-13,64991.0,4,0,0
501,34138465,1,1929,465,2007-11-12,True,6578.0,1996-08-17,2008-04-04,69679.0,4,1,0
11549,4875270,2,1921,270,2009-09-14,True,6578.0,1995-12-12,2012-12-11,41489.0,4,5,0
876,7693166,2,1926,166,2008-04-09,True,4693.0,1996-05-22,2008-07-17,24911.0,4,3,1
3864,1673606,2,1929,606,2011-01-17,True,4693.0,1999-10-08,2013-05-13,85474.0,4,0,0
9114,2328359,2,1927,359,2008-06-06,True,7664.0,1997-04-11,2013-04-22,53678.0,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4468,7745389,2,1927,389,2009-11-01,False,NaN,1999-06-30,2013-04-30,57828.0,0,0,0
4469,9520639,2,1917,639,2010-05-04,False,NaN,1999-06-23,2013-04-23,89249.0,0,0,0
4470,10237639,1,1922,639,2010-04-07,True,6578.0,1999-06-23,2013-04-23,89268.0,0,0,0
4471,1166206,1,1931,206,2010-04-19,False,NaN,1999-04-20,2013-02-18,31540.0,0,0,0
4473,8649639,2,1917,639,2010-05-04,True,1350.0,1999-06-22,2013-04-23,89249.0,0,0,0
4474,5154087,2,1925,87,2009-03-04,True,4693.0,1996-06-20,2010-04-22,11776.0,0,0,0
4450,9289206,2,1920,206,2010-10-07,False,NaN,1999-04-20,2013-02-14,31555.0,0,0,0
4449,1689223,2,1922,223,2009-04-30,False,NaN,1999-01-25,2012-11-20,33977.0,0,0,0
4448,3220565,2,1923,565,2010-02-14,True,6578.0,1999-03-15,2013-01-08,81935.0,0,4,1
4447,1729223,2,1937,223,2010-08-13,True,1916.0,1999-01-25,2012-11-20,33829.0,0,0,1
4426,1727089,1,1925,89,2011-01-24,True,1350.0,1997-07-25,2011-05-18,12277.0,0,0,0
4427,2445321,1,1924,321,2007-05-16,False,NaN,1996-04-04,2010-01-26,48977.0,0,0,0
4428,2815203,2,1931,203,2011-04-06,True,30706.0,1999-06-16,2013-04-08,30968.0,0,0,0
4429,2160389,2,1927,389,2008-08-21,True,8195.0,1996-01-24,2009-11-17,57815.0,0,0,1
4430,9955374,2,1939,374,2010-11-04,True,8195.0,1999-07-07,2013-04-30,55680.0,0,0,0
4431,9071639,2,1925,639,2010-10-01,False,NaN,1999-06-22,2013-04-15,89207.0,0,0,0
4432,11395164,1,1926,164,2006-07-07,False,NaN,1996-05-13,2010-03-08,24146.0,0,0,0
4433,5934020,2,1943,20,2009-03-31,True,4693.0,1996-02-02,2009-11-27,3236.0,0,0,0
4434,1538651,2,1927,651,2011-02-07,False,NaN,1999-05-24,2013-03-18,90609.0,0,0,0
4436,17592223,1,1933,223,2010-08-08,False,NaN,1999-01-25,2012-11-19,33911.0,0,0,0
4437,2128273,2,1925,273,2011-03-01,True,6578.0,1998-01-07,2011-11-02,41934.0,0,1,1
4438,5282639,2,1918,639,2010-12-09,False,NaN,1999-06-22,2013-04-16,89186.0,0,0,0
4439,13587089,1,1941,89,2010-05-12,True,1350.0,1997-07-25,2011-05-20,12428.0,0,0,0
4440,3418127,1,1920,127,2007-05-22,False,NaN,1997-03-25,2011-01-18,18926.0,0,0,0
4441,72203,1,1938,203,2010-07-06,True,8195.0,1999-06-16,2013-04-10,30943.0,0,0,0
4442,895325,2,1925,325,2009-10-13,False,NaN,1997-12-17,2011-10-13,49579.0,0,0,0
4443,8808203,2,1931,203,2011-04-06,False,NaN,1999-06-16,2013-04-11,30968.0,0,0,0
4445,5732223,2,1923,223,2010-11-01,True,6578.0,1999-01-25,2012-11-20,33903.0,0,0,0
4446,11985223,2,1928,223,2010-10-05,True,7664.0,1999-01-25,2012-11-20,34015.0,0,0,1
12735,775336,2,1920,336,2008-10-08,True,1350.0,1994-12-09,2013-05-21,50892.0,0,0,0

In [230]:
cases = pt_features[pt_features['isCase']==True]

In [231]:
controls = pt_features[pt_features['isCase']==False]

In [232]:
cases['insom_count_window0'].mean()

0.13300879396984924

In [233]:
controls['insom_count_window0'].mean()

0.12060301507537688

In [234]:
cases['insom_count_window1'].mean()

0.13159547738693467

In [235]:
controls['insom_count_window1'].mean()

0.11652010050251256

In [236]:
cases['insom_count_window2'].mean()

0.12327261306532664

In [237]:
controls['insom_count_window2'].mean()

0.096262562814070349

In [238]:
len(cases),len(controls)

(6368, 6368)

In [239]:
pt_features.to_csv('data/pt_data/processed_data/pt_features_demins.csv',index=False)