In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
cd ~/demres

/Users/zurfarosa/demres

In [3]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
from datetime import date, timedelta
from pprint import pprint

import demres
from demres.common.constants import entry_type
from demres.common import codelists,druglists
from demres.common.helper_functions import *
from demres.common.process_entries import *
from demres.demins.constants import Study_Design
from demres.demins.functions import *

In [4]:
pt_features = pd.read_csv('data/pt_data/processed_data/pt_features_demins.csv',delimiter=',',parse_dates=['index_date','data_end','data_start'],infer_datetime_format=True)

In [5]:
pt_features

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,...,fgas_pdds_window0,fgas_pdds_window1,sgas_pdds_window0,sgas_pdds_window1,sga_depots_pdds_window0,sga_depots_pdds_window1,fga_depots_pdds_window0,fga_depots_pdds_window1,antidepressants_pdds_window0,antidepressants_pdds_window1
0,10665377,1,1920,377,2011-04-07,True,4693.0,2001-04-01,2011-04-14,55943.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
1,12440330,2,1925,330,2010-03-30,True,4693.0,2000-03-22,2010-04-09,50163.0,...,30.0,0.00,0.0,490.85,0.0,0.0,0.0,0.0,204.49,489.76
2,16055443,2,1927,443,2010-12-20,True,1350.0,2000-12-15,2011-01-13,65618.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
3,2994148,2,1919,148,2007-02-15,True,1916.0,1997-01-20,2007-02-21,21685.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
4,4552183,1,1939,183,2010-09-29,True,26270.0,2000-09-22,2010-10-28,27826.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
5,23374431,2,1920,431,2011-12-13,True,1350.0,2001-11-13,2011-12-21,63698.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
6,6726262,1,1933,262,2007-02-23,True,9509.0,1997-02-09,2007-03-23,40443.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,29.29
7,706017,2,1925,17,2008-05-22,True,4693.0,1998-04-18,2008-06-05,2566.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,132.33
8,14778043,1,1921,43,2006-01-31,True,1350.0,1996-01-05,2006-02-23,6185.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
9,1451179,1,1931,179,2006-09-20,True,1350.0,1996-08-09,2006-09-29,26929.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,308.21
10,6140152,1,1931,152,2010-04-09,True,6578.0,2000-04-03,2010-05-24,22088.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,57.02,80.55
11,9756466,1,1919,466,2011-01-11,True,6578.0,2000-12-13,2011-02-03,69829.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
12,2306171,2,1928,171,2009-03-11,True,4693.0,1999-01-27,2009-03-25,25682.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,49.88
13,2362157,2,1920,157,2006-03-29,True,1350.0,1996-02-20,2006-04-18,23177.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,1915.51,2577.58
14,4866425,1,1920,425,2006-05-17,True,46488.0,1996-04-27,2006-06-30,62669.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
15,4265225,1,1929,225,2006-07-04,True,1350.0,1996-06-20,2006-08-23,34257.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
16,12323079,1,1928,79,2008-08-08,True,7323.0,1998-07-18,2008-09-29,10440.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
17,13070427,1,1928,427,2005-09-09,True,1350.0,1995-09-02,2005-11-17,63133.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18,6298465,2,1924,465,2006-10-10,True,7664.0,1996-08-17,2006-11-08,69552.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
19,12196489,1,1919,489,2011-03-18,True,4357.0,2001-03-01,2011-05-25,73842.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
20,1581056,1,1918,56,2006-09-28,True,6578.0,1996-08-06,2006-10-31,7785.0,...,0.0,19.99,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
21,2560300,1,1922,300,2009-07-01,True,6578.0,1999-06-24,2009-09-17,45587.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
22,11373473,2,1919,473,2010-01-23,True,4693.0,1999-12-16,2010-03-15,71410.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
23,19653089,2,1913,89,2007-08-29,True,4693.0,1997-07-25,2007-10-25,12509.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
24,5131622,2,1915,622,2006-07-11,True,8195.0,1996-06-06,2006-09-08,87102.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
25,12099426,2,1923,426,2011-10-22,True,4693.0,2001-10-16,2012-01-18,62848.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
26,3125036,2,1916,36,2009-11-02,True,7664.0,1999-10-11,2010-01-12,5444.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,569.79
27,2671672,1,1918,672,2009-12-15,True,6578.0,1999-09-27,2009-12-31,94049.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
28,14965158,2,1925,158,2009-04-17,True,1350.0,1999-03-24,2009-06-29,23526.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
29,3436274,1,1918,274,2009-11-19,True,4693.0,1999-10-25,2010-02-02,42080.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,731.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18846,14646488,2,1939,488,2009-07-16,False,0.0,1995-02-17,2013-03-10,73677.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18847,6774488,1,1937,488,2008-01-22,False,0.0,1995-02-17,2013-03-22,73681.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18848,5650488,1,1939,488,2012-01-23,True,1917.0,1995-02-17,2013-03-26,73684.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18849,10531488,2,1927,488,2006-11-15,True,8195.0,1995-02-17,2013-04-04,73695.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18850,11262488,1,1931,488,2011-11-09,True,6578.0,1995-02-17,2013-04-05,73701.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18851,10854488,2,1923,488,2011-10-10,False,0.0,1995-02-17,2013-04-05,73725.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18852,2546488,2,1939,488,2009-07-16,True,7664.0,1995-02-17,2013-04-06,73677.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18853,12938488,1,1934,488,2006-08-14,True,8634.0,1995-02-17,2013-04-08,73704.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18854,15195488,1,1939,488,2009-02-15,True,1916.0,1995-02-17,2013-04-12,73711.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18855,8580488,1,1931,488,2011-11-09,False,0.0,1995-02-17,2013-04-15,73701.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18856,10620488,2,1929,488,2012-01-25,False,0.0,1995-02-17,2013-04-15,73721.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18857,17517488,1,1939,488,2012-01-23,False,0.0,1995-02-17,2013-04-17,73684.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18858,16606488,1,1942,488,2012-04-12,False,0.0,1995-02-17,2013-04-17,73687.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18859,16816488,2,1922,488,2010-01-01,True,1916.0,1995-02-17,2013-04-17,73715.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18860,2053336,1,1942,336,2009-05-05,False,0.0,1994-12-10,2013-02-22,50913.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18861,1091336,2,1927,336,2010-04-20,False,0.0,1994-12-10,2013-03-05,50930.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18862,1701336,1,1923,336,2009-01-19,False,0.0,1994-12-09,2013-03-28,50901.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18863,1421336,1,1930,336,2011-09-26,True,8195.0,1994-12-09,2013-04-24,50904.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18864,1562336,2,1920,336,2008-10-08,False,0.0,1994-12-09,2013-04-25,50892.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18865,755336,2,1938,336,2012-01-19,True,1917.0,1994-12-09,2013-05-02,50891.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18866,1503336,1,1930,336,2011-09-26,False,0.0,1994-12-09,2013-05-07,50904.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18867,1130336,2,1938,336,2012-01-19,False,0.0,1994-12-10,2013-05-09,50891.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18868,1716336,2,1921,336,2007-07-31,False,0.0,1994-12-09,2013-05-09,50883.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18869,1188336,1,1938,336,2012-05-09,False,0.0,1994-12-09,2013-05-13,50881.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18870,1737336,1,1942,336,2009-05-05,True,1917.0,1994-12-09,2013-05-14,50913.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18871,1220336,2,1928,336,2010-12-08,False,0.0,1994-12-09,2013-05-15,50925.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18872,1497336,2,1928,336,2011-07-11,False,0.0,1994-12-09,2013-05-16,50924.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18873,715336,2,1930,336,2008-09-04,False,0.0,1994-12-09,2013-05-20,50882.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18874,136336,1,1938,336,2012-05-09,True,1350.0,1994-12-09,2013-05-21,50881.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00
18875,775336,2,1920,336,2008-10-08,True,1350.0,1994-12-09,2013-05-21,50892.0,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00

In [75]:
# pt_features.drop(['insom_count_window0', 'insom_count_window1', 'stroke_window0',
#        'stroke_window1',
#        'CHD_heart_failure_and_peripheral_vascular_disease_window0',
#        'CHD_heart_failure_and_peripheral_vascular_disease_window1',
#        'hypertension_window0', 'hypertension_window1', 'diabetes_window0',
#        'diabetes_window1', 'clin_sig_alcohol_use_window0',
#        'clin_sig_alcohol_use_window1', 'mental_illness_non_smi_window0',
#        'mental_illness_non_smi_window1', 'mental_illness_smi_window0',
#        'mental_illness_smi_window1', 'sleep_apnoea_window0',
#        'sleep_apnoea_window1', 'intellectual_disability_window0',
#        'intellectual_disability_window1', 'current_smoker_window0',
#        'current_smoker_window1', 'asthma_window0', 'asthma_window1',
#        'COPD_window0', 'COPD_window1', 'CKD_window0', 'CKD_window1'],axis=1,inplace=True)

In [8]:
pt_features.columns

Index(['patid', 'gender', 'yob', 'pracid', 'index_date', 'isCase',
       'final dementia medcode', 'data_start', 'data_end', 'matchid',
       'insom_count_window0', 'insom_count_window1', 'stroke_window0',
       'stroke_window1',
       'CHD_heart_failure_and_peripheral_vascular_disease_window0',
       'CHD_heart_failure_and_peripheral_vascular_disease_window1',
       'hypertension_window0', 'hypertension_window1', 'diabetes_window0',
       'diabetes_window1', 'clin_sig_alcohol_use_window0',
       'clin_sig_alcohol_use_window1', 'mental_illness_non_smi_window0',
       'mental_illness_non_smi_window1', 'mental_illness_smi_window0',
       'mental_illness_smi_window1', 'sleep_apnoea_window0',
       'sleep_apnoea_window1', 'intellectual_disability_window0',
       'intellectual_disability_window1', 'current_smoker_window0',
       'current_smoker_window1', 'asthma_window0', 'asthma_window1',
       'COPD_window0', 'COPD_window1', 'CKD_window0', 'CKD_window1',
       'mood_stabilisers_pdds_window0', 'mood_stabilisers_pdds_window1',
       'sedatives_pdds_window0', 'sedatives_pdds_window1', 'fgas_pdds_window0',
       'fgas_pdds_window1', 'sgas_pdds_window0', 'sgas_pdds_window1',
       'sga_depots_pdds_window0', 'sga_depots_pdds_window1',
       'fga_depots_pdds_window0', 'fga_depots_pdds_window1',
       'antidepressants_pdds_window0', 'antidepressants_pdds_window1'],
      dtype='object')

In [9]:
entries = pd.read_hdf('hdf/medcoded_entries.hdf')

In [10]:
entries.head(3)

   patid    sysdate  eventdate  medcode  type
0  57001 1997-03-09 1994-10-31     3550     2
1  57001 1997-03-09 1994-10-31     9897     2
2  57001 1997-03-09 1993-01-28     4447     2

In [11]:
windows = get_windows() #[{'end': timedelta(0), 'start': timedelta(3650)}]

In [26]:
# Add insomnia count
pt_features = get_condition_status(pt_features,entries,windows,codelists.insomnia)

medcode_events: 60413, pt_features: 18876

In [27]:
pt_features

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,insomnia_window0,insomnia_window1
0,10665377,1,1920,377,2011-04-07,True,4693.0,2001-04-01,2011-04-14,55943.0,0,0
1,12440330,2,1925,330,2010-03-30,True,4693.0,2000-03-22,2010-04-09,50163.0,0,0
2,16055443,2,1927,443,2010-12-20,True,1350.0,2000-12-15,2011-01-13,65618.0,0,0
3,2994148,2,1919,148,2007-02-15,True,1916.0,1997-01-20,2007-02-21,21685.0,1,1
4,4552183,1,1939,183,2010-09-29,True,26270.0,2000-09-22,2010-10-28,27826.0,0,0
5,23374431,2,1920,431,2011-12-13,True,1350.0,2001-11-13,2011-12-21,63698.0,0,0
6,6726262,1,1933,262,2007-02-23,True,9509.0,1997-02-09,2007-03-23,40443.0,0,1
7,706017,2,1925,17,2008-05-22,True,4693.0,1998-04-18,2008-06-05,2566.0,0,0
8,14778043,1,1921,43,2006-01-31,True,1350.0,1996-01-05,2006-02-23,6185.0,0,0
9,1451179,1,1931,179,2006-09-20,True,1350.0,1996-08-09,2006-09-29,26929.0,0,0
10,6140152,1,1931,152,2010-04-09,True,6578.0,2000-04-03,2010-05-24,22088.0,0,0
11,9756466,1,1919,466,2011-01-11,True,6578.0,2000-12-13,2011-02-03,69829.0,0,0
12,2306171,2,1928,171,2009-03-11,True,4693.0,1999-01-27,2009-03-25,25682.0,0,0
13,2362157,2,1920,157,2006-03-29,True,1350.0,1996-02-20,2006-04-18,23177.0,1,0
14,4866425,1,1920,425,2006-05-17,True,46488.0,1996-04-27,2006-06-30,62669.0,1,0
15,4265225,1,1929,225,2006-07-04,True,1350.0,1996-06-20,2006-08-23,34257.0,0,0
16,12323079,1,1928,79,2008-08-08,True,7323.0,1998-07-18,2008-09-29,10440.0,0,0
17,13070427,1,1928,427,2005-09-09,True,1350.0,1995-09-02,2005-11-17,63133.0,0,0
18,6298465,2,1924,465,2006-10-10,True,7664.0,1996-08-17,2006-11-08,69552.0,0,2
19,12196489,1,1919,489,2011-03-18,True,4357.0,2001-03-01,2011-05-25,73842.0,0,1
20,1581056,1,1918,56,2006-09-28,True,6578.0,1996-08-06,2006-10-31,7785.0,2,2
21,2560300,1,1922,300,2009-07-01,True,6578.0,1999-06-24,2009-09-17,45587.0,0,0
22,11373473,2,1919,473,2010-01-23,True,4693.0,1999-12-16,2010-03-15,71410.0,0,0
23,19653089,2,1913,89,2007-08-29,True,4693.0,1997-07-25,2007-10-25,12509.0,0,0
24,5131622,2,1915,622,2006-07-11,True,8195.0,1996-06-06,2006-09-08,87102.0,0,0
25,12099426,2,1923,426,2011-10-22,True,4693.0,2001-10-16,2012-01-18,62848.0,0,0
26,3125036,2,1916,36,2009-11-02,True,7664.0,1999-10-11,2010-01-12,5444.0,1,0
27,2671672,1,1918,672,2009-12-15,True,6578.0,1999-09-27,2009-12-31,94049.0,1,0
28,14965158,2,1925,158,2009-04-17,True,1350.0,1999-03-24,2009-06-29,23526.0,0,0
29,3436274,1,1918,274,2009-11-19,True,4693.0,1999-10-25,2010-02-02,42080.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
18846,14646488,2,1939,488,2009-07-16,False,NaN,1995-02-17,2013-03-10,73677.0,0,0
18847,6774488,1,1937,488,2008-01-22,False,NaN,1995-02-17,2013-03-22,73681.0,0,0
18848,5650488,1,1939,488,2012-01-23,True,1917.0,1995-02-17,2013-03-26,73684.0,0,0
18849,10531488,2,1927,488,2006-11-15,True,8195.0,1995-02-17,2013-04-04,73695.0,0,0
18850,11262488,1,1931,488,2011-11-09,True,6578.0,1995-02-17,2013-04-05,73701.0,1,0
18851,10854488,2,1923,488,2011-10-10,False,NaN,1995-02-17,2013-04-05,73725.0,0,0
18852,2546488,2,1939,488,2009-07-16,True,7664.0,1995-02-17,2013-04-06,73677.0,0,0
18853,12938488,1,1934,488,2006-08-14,True,8634.0,1995-02-17,2013-04-08,73704.0,0,0
18854,15195488,1,1939,488,2009-02-15,True,1916.0,1995-02-17,2013-04-12,73711.0,0,0
18855,8580488,1,1931,488,2011-11-09,False,NaN,1995-02-17,2013-04-15,73701.0,0,0
18856,10620488,2,1929,488,2012-01-25,False,NaN,1995-02-17,2013-04-15,73721.0,0,0
18857,17517488,1,1939,488,2012-01-23,False,NaN,1995-02-17,2013-04-17,73684.0,0,0
18858,16606488,1,1942,488,2012-04-12,False,NaN,1995-02-17,2013-04-17,73687.0,0,0
18859,16816488,2,1922,488,2010-01-01,True,1916.0,1995-02-17,2013-04-17,73715.0,0,0
18860,2053336,1,1942,336,2009-05-05,False,NaN,1994-12-10,2013-02-22,50913.0,0,0
18861,1091336,2,1927,336,2010-04-20,False,NaN,1994-12-10,2013-03-05,50930.0,0,0
18862,1701336,1,1923,336,2009-01-19,False,NaN,1994-12-09,2013-03-28,50901.0,0,0
18863,1421336,1,1930,336,2011-09-26,True,8195.0,1994-12-09,2013-04-24,50904.0,0,0
18864,1562336,2,1920,336,2008-10-08,False,NaN,1994-12-09,2013-04-25,50892.0,0,0
18865,755336,2,1938,336,2012-01-19,True,1917.0,1994-12-09,2013-05-02,50891.0,0,0
18866,1503336,1,1930,336,2011-09-26,False,NaN,1994-12-09,2013-05-07,50904.0,0,0
18867,1130336,2,1938,336,2012-01-19,False,NaN,1994-12-10,2013-05-09,50891.0,0,0
18868,1716336,2,1921,336,2007-07-31,False,NaN,1994-12-09,2013-05-09,50883.0,0,0
18869,1188336,1,1938,336,2012-05-09,False,NaN,1994-12-09,2013-05-13,50881.0,0,0
18870,1737336,1,1942,336,2009-05-05,True,1917.0,1994-12-09,2013-05-14,50913.0,0,0
18871,1220336,2,1928,336,2010-12-08,False,NaN,1994-12-09,2013-05-15,50925.0,0,0
18872,1497336,2,1928,336,2011-07-11,False,NaN,1994-12-09,2013-05-16,50924.0,0,0
18873,715336,2,1930,336,2008-09-04,False,NaN,1994-12-09,2013-05-20,50882.0,0,0
18874,136336,1,1938,336,2012-05-09,True,1350.0,1994-12-09,2013-05-21,50881.0,0,0
18875,775336,2,1920,336,2008-10-08,True,1350.0,1994-12-09,2013-05-21,50892.0,0,0

In [28]:
# Add condition status (e.g. diabetes, stroke)
pt_features = get_multiple_condition_statuses(pt_features,entries,windows,codelists.codelist_list_of_lists)

stroke
medcode_events: 48913, pt_features: 18876
CHD_heart_failure_and_peripheral_vascular_disease
medcode_events: 147199, pt_features: 18876
hypertension
medcode_events: 185315, pt_features: 18876
diabetes
medcode_events: 57533, pt_features: 18876
clin_sig_alcohol_use
medcode_events: 2282, pt_features: 18876
mental_illness_non_smi
medcode_events: 140614, pt_features: 18876
mental_illness_smi
medcode_events: 21907, pt_features: 18876
sleep_apnoea
medcode_events: 548, pt_features: 18876
intellectual_disability
medcode_events: 163, pt_features: 18876
current_smoker
medcode_events: 86908, pt_features: 18876
asthma
medcode_events: 41929, pt_features: 18876
COPD
medcode_events: 90029, pt_features: 18876
CKD
medcode_events: 5401, pt_features: 18876

In [12]:
prescriptions = pd.read_hdf('hdf/prescriptions.hdf')

In [97]:
pt_features = create_pdds(pt_features,prescs,druglists.psychotropic_list_of_lists,get_windows())

In [13]:
all_entries = get_all_entries(medcoded_entries=entries,prescriptions=prescriptions)

medcoded entry length:  56637419
prescription length:  32264418
adding in consultations...
concatenating

In [15]:
all_entries.sample(10)

           eventdate  medcode     patid  prodcode    sysdate  type
85379272  2002-04-15  13354.0   6184196       NaN 2002-04-22     2
74923707  2001-11-12      NaN   2855320    5158.0 2001-11-12     5
115200587 2004-05-05     21.0    791246       NaN 2004-05-05     3
61795495  1996-03-04      NaN  16048181       1.0 2002-04-09     5
115483323 2007-07-10     13.0   6816251       NaN 2007-07-11     3
98522895  2003-04-23   5902.0    928482       NaN 2003-04-23     2
36773415  2006-03-06      NaN   4286519       NaN 2006-03-06     0
46122529  2006-03-09      NaN   3774020      23.0 2006-03-09     5
74799519  2007-03-02      NaN  17987319       5.0 2007-03-02     5
124768599 2012-02-10  13826.0  14188480       NaN 2012-02-10     3

In [18]:
pt_features = get_consultation_count(pt_features,all_entries,get_windows())

In [19]:
pt_features

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,...,sgas_pdds_window0,sgas_pdds_window1,sga_depots_pdds_window0,sga_depots_pdds_window1,fga_depots_pdds_window0,fga_depots_pdds_window1,antidepressants_pdds_window0,antidepressants_pdds_window1,consultation_count_window0,consultation_count_window1
0,10665377,1,1920,377,2011-04-07,True,4693.0,2001-04-01,2011-04-14,55943.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,187,191
1,12440330,2,1925,330,2010-03-30,True,4693.0,2000-03-22,2010-04-09,50163.0,...,0.0,490.85,0.0,0.0,0.0,0.0,204.49,489.76,170,227
2,16055443,2,1927,443,2010-12-20,True,1350.0,2000-12-15,2011-01-13,65618.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,215,124
3,2994148,2,1919,148,2007-02-15,True,1916.0,1997-01-20,2007-02-21,21685.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,58,133
4,4552183,1,1939,183,2010-09-29,True,26270.0,2000-09-22,2010-10-28,27826.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,5,27
5,23374431,2,1920,431,2011-12-13,True,1350.0,2001-11-13,2011-12-21,63698.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,129,208
6,6726262,1,1933,262,2007-02-23,True,9509.0,1997-02-09,2007-03-23,40443.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,29.29,240,251
7,706017,2,1925,17,2008-05-22,True,4693.0,1998-04-18,2008-06-05,2566.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,132.33,215,463
8,14778043,1,1921,43,2006-01-31,True,1350.0,1996-01-05,2006-02-23,6185.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,24,97
9,1451179,1,1931,179,2006-09-20,True,1350.0,1996-08-09,2006-09-29,26929.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,308.21,107,120
10,6140152,1,1931,152,2010-04-09,True,6578.0,2000-04-03,2010-05-24,22088.0,...,0.0,0.00,0.0,0.0,0.0,0.0,57.02,80.55,177,337
11,9756466,1,1919,466,2011-01-11,True,6578.0,2000-12-13,2011-02-03,69829.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,6,27
12,2306171,2,1928,171,2009-03-11,True,4693.0,1999-01-27,2009-03-25,25682.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,49.88,108,131
13,2362157,2,1920,157,2006-03-29,True,1350.0,1996-02-20,2006-04-18,23177.0,...,0.0,0.00,0.0,0.0,0.0,0.0,1915.51,2577.58,169,192
14,4866425,1,1920,425,2006-05-17,True,46488.0,1996-04-27,2006-06-30,62669.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,47,103
15,4265225,1,1929,225,2006-07-04,True,1350.0,1996-06-20,2006-08-23,34257.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,48,191
16,12323079,1,1928,79,2008-08-08,True,7323.0,1998-07-18,2008-09-29,10440.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,45,227
17,13070427,1,1928,427,2005-09-09,True,1350.0,1995-09-02,2005-11-17,63133.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,22,87
18,6298465,2,1924,465,2006-10-10,True,7664.0,1996-08-17,2006-11-08,69552.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,128,286
19,12196489,1,1919,489,2011-03-18,True,4357.0,2001-03-01,2011-05-25,73842.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,126,91
20,1581056,1,1918,56,2006-09-28,True,6578.0,1996-08-06,2006-10-31,7785.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,14,66
21,2560300,1,1922,300,2009-07-01,True,6578.0,1999-06-24,2009-09-17,45587.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,316,594
22,11373473,2,1919,473,2010-01-23,True,4693.0,1999-12-16,2010-03-15,71410.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,165,346
23,19653089,2,1913,89,2007-08-29,True,4693.0,1997-07-25,2007-10-25,12509.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,35,227
24,5131622,2,1915,622,2006-07-11,True,8195.0,1996-06-06,2006-09-08,87102.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,110,116
25,12099426,2,1923,426,2011-10-22,True,4693.0,2001-10-16,2012-01-18,62848.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,120,130
26,3125036,2,1916,36,2009-11-02,True,7664.0,1999-10-11,2010-01-12,5444.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,569.79,63,91
27,2671672,1,1918,672,2009-12-15,True,6578.0,1999-09-27,2009-12-31,94049.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,109,150
28,14965158,2,1925,158,2009-04-17,True,1350.0,1999-03-24,2009-06-29,23526.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,69,161
29,3436274,1,1918,274,2009-11-19,True,4693.0,1999-10-25,2010-02-02,42080.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,731.57,88,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18846,14646488,2,1939,488,2009-07-16,False,0.0,1995-02-17,2013-03-10,73677.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,102,70
18847,6774488,1,1937,488,2008-01-22,False,0.0,1995-02-17,2013-03-22,73681.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,28,103
18848,5650488,1,1939,488,2012-01-23,True,1917.0,1995-02-17,2013-03-26,73684.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,113,148
18849,10531488,2,1927,488,2006-11-15,True,8195.0,1995-02-17,2013-04-04,73695.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,145,120
18850,11262488,1,1931,488,2011-11-09,True,6578.0,1995-02-17,2013-04-05,73701.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,105,256
18851,10854488,2,1923,488,2011-10-10,False,0.0,1995-02-17,2013-04-05,73725.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,154,254
18852,2546488,2,1939,488,2009-07-16,True,7664.0,1995-02-17,2013-04-06,73677.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,186,229
18853,12938488,1,1934,488,2006-08-14,True,8634.0,1995-02-17,2013-04-08,73704.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,34,73
18854,15195488,1,1939,488,2009-02-15,True,1916.0,1995-02-17,2013-04-12,73711.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,111,131
18855,8580488,1,1931,488,2011-11-09,False,0.0,1995-02-17,2013-04-15,73701.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,110,146
18856,10620488,2,1929,488,2012-01-25,False,0.0,1995-02-17,2013-04-15,73721.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,205,283
18857,17517488,1,1939,488,2012-01-23,False,0.0,1995-02-17,2013-04-17,73684.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,87,177
18858,16606488,1,1942,488,2012-04-12,False,0.0,1995-02-17,2013-04-17,73687.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,63,341
18859,16816488,2,1922,488,2010-01-01,True,1916.0,1995-02-17,2013-04-17,73715.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,100,239
18860,2053336,1,1942,336,2009-05-05,False,0.0,1994-12-10,2013-02-22,50913.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,112,177
18861,1091336,2,1927,336,2010-04-20,False,0.0,1994-12-10,2013-03-05,50930.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,19,7
18862,1701336,1,1923,336,2009-01-19,False,0.0,1994-12-09,2013-03-28,50901.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,112,197
18863,1421336,1,1930,336,2011-09-26,True,8195.0,1994-12-09,2013-04-24,50904.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,206,262
18864,1562336,2,1920,336,2008-10-08,False,0.0,1994-12-09,2013-04-25,50892.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,110,152
18865,755336,2,1938,336,2012-01-19,True,1917.0,1994-12-09,2013-05-02,50891.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,158,228
18866,1503336,1,1930,336,2011-09-26,False,0.0,1994-12-09,2013-05-07,50904.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,10,117
18867,1130336,2,1938,336,2012-01-19,False,0.0,1994-12-10,2013-05-09,50891.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,16,40
18868,1716336,2,1921,336,2007-07-31,False,0.0,1994-12-09,2013-05-09,50883.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,158,163
18869,1188336,1,1938,336,2012-05-09,False,0.0,1994-12-09,2013-05-13,50881.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,84,117
18870,1737336,1,1942,336,2009-05-05,True,1917.0,1994-12-09,2013-05-14,50913.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,17,49
18871,1220336,2,1928,336,2010-12-08,False,0.0,1994-12-09,2013-05-15,50925.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,10,84
18872,1497336,2,1928,336,2011-07-11,False,0.0,1994-12-09,2013-05-16,50924.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,114,419
18873,715336,2,1930,336,2008-09-04,False,0.0,1994-12-09,2013-05-20,50882.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,13,38
18874,136336,1,1938,336,2012-05-09,True,1350.0,1994-12-09,2013-05-21,50881.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,84,234
18875,775336,2,1920,336,2008-10-08,True,1350.0,1994-12-09,2013-05-21,50892.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,198,365

In [21]:
pt_features.to_csv('data/pt_data/processed_data/pt_features_demins.csv',index=False)