In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta,date
from constants import Study_Design
from my_functions import *

In [2]:
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
pt_features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',')

In [4]:
insom_events = pd.read_csv('data/pt_data/monthly_insom_event_count.csv')

In [5]:
insom_events.head(10)

   patid   eventdate  insom_count
0   1467  2007-11-30            2
1   1467  2008-01-31            2
2   1467  2008-02-29            2
3   1467  2008-03-31            1
4   1467  2009-05-31            1
5   1467  2009-08-31            1
6   1467  2013-01-31            1
7   3432  2004-12-31            1
8   3432  2008-10-31            1
9   3549  2005-10-31            1

In [6]:
insom_events['pat_index_date'] = insom_events['patid'].map(lambda x: pt_features[pt_features['patid']==x]['index_date'].values[0])

In [7]:
insom_events['eventdate'] = pd.to_datetime(insom_events['eventdate'])
insom_events['pat_index_date'] = pd.to_datetime(insom_events['pat_index_date'])

In [8]:
too_close_to_dx_period = timedelta(days=365)*Study_Design.years_between_exposure_measurement_and_index_date
too_distant_from_dx_period = too_close_to_dx_period + timedelta(days=365)*Study_Design.years_of_exposure_measurement

In [9]:
not_too_close_to_dx = insom_events['eventdate']<(insom_events['pat_index_date']-too_close_to_dx_period)
not_before_exposure_period = insom_events['eventdate']>(insom_events['pat_index_date']-too_distant_from_dx_period)

In [10]:
relev_insom_events = insom_events[not_too_close_to_dx & not_before_exposure_period]
relev_insom_events.sort_values(by='patid').head(10)

    patid  eventdate  insom_count pat_index_date
7    3432 2004-12-31            1     2011-11-23
9    3549 2005-10-31            1     2011-02-09
10   3549 2006-01-31            1     2011-02-09
25  15385 1998-05-31            1     2005-02-09
28  18255 1997-11-30            1     2005-08-24
39  25420 1999-10-31            1     2008-04-03
44  27025 2001-08-31            1     2009-12-15
52  29551 2003-02-28            1     2011-01-26
55  32504 2002-10-31            1     2011-06-07
57  37099 2001-09-30            1     2010-02-19

In [11]:
relev_insom_events_by_pt = relev_insom_events.groupby(by='patid')['eventdate'].count().reset_index()
relev_insom_events_by_pt.columns=['patid','insomnia_event_count']

In [46]:
merged_table = pd.merge(pt_features,relev_insom_events_by_pt, on='patid',how='outer')
merged_table['insomnia_event_count'].fillna(0,inplace=True)
merged_table['insomnia_event_count'] = merged_table['insomnia_event_count'].astype(int)

In [47]:
merged_table

,patid,pracid,gender,birthyear,index_date,original_matchid,isCase,insomnia_event_count
0,4923328,328,2,1916,2003-07-01,4355328,True,0
1,1959216,216,1,1933,2011-02-25,6290216,True,0
2,9271420,420,1,1917,2003-06-20,2770420,True,0
3,548429,429,2,1925,2005-05-11,5473429,True,0
4,14185081,81,2,1917,2005-02-28,5951081,True,0
5,7329438,438,2,1941,2008-08-04,17742438,True,0
6,6327373,373,1,1941,2009-03-26,5262373,True,0
7,5811024,24,1,1930,2010-12-14,6394024,True,0
8,6905371,371,1,1926,2006-09-19,15830371,True,0
9,7741629,629,1,1936,2004-06-10,9053629,True,0
10,2209198,198,2,1924,2005-09-02,2042198,True,1
11,10533429,429,2,1931,2011-01-18,8669429,True,0
12,6339236,236,2,1917,2006-08-16,9380236,True,0
13,210510,510,1,1919,2004-09-26,150510,True,0
14,7906573,573,2,1933,2011-10-12,4145573,True,0
15,5716168,168,2,1925,2006-08-24,11375168,True,0
16,2681598,598,2,1935,2010-06-29,809598,True,0
17,8619003,3,2,1920,2008-02-04,1592003,True,0
18,1010153,153,2,1922,2012-01-10,4976153,True,0
19,5153153,153,2,1923,2008-08-05,3672153,True,0
20,1190457,457,1,1932,2012-03-27,12542457,True,0
21,7557320,320,2,1913,2004-09-04,5927320,True,0
22,4202496,496,2,1936,2008-08-01,5938496,True,0
23,4848116,116,1,1933,2009-06-12,2388116,True,0
24,6145271,271,2,1921,2004-07-05,6613271,True,0
25,4625,625,2,1937,2012-02-09,5044625,True,0
26,13950191,191,2,1924,2008-07-16,3646191,True,1
27,46474632,632,1,1915,2005-07-27,14431632,True,0
28,4661066,66,2,1934,2011-03-31,17317066,True,0
29,9019385,385,2,1921,2008-06-03,12911385,True,0
...,...,...,...,...,...,...,...,...
95296,2974035,35,2,1919,2008-07-16,2974035,False,0
95297,1385115,115,2,1924,2006-04-10,1385115,False,0
95298,7533113,113,2,1920,2006-01-26,7533113,False,0
95299,4570504,504,1,1945,2010-07-15,4570504,False,0
95300,2999375,375,2,1918,2005-10-05,2999375,False,0
95301,522462,462,2,1914,2007-07-09,522462,False,0
95302,3798652,652,2,1933,2004-12-27,3798652,False,0
95303,68401229,229,1,1928,2010-02-06,68401229,False,0
95304,4352135,135,1,1928,2006-11-19,4352135,False,0
95305,11233173,173,2,1915,2009-06-26,11233173,False,0
95306,1008666,666,1,1937,2008-12-19,1008666,False,0
95307,4836628,628,2,1922,2004-03-05,4836628,False,0
95308,16025205,205,2,1941,2008-06-12,16025205,False,1
95309,7367091,91,2,1924,2007-03-21,7367091,False,0
95310,3389483,483,2,1927,2010-11-24,3389483,False,0
95311,1584096,96,2,1929,2007-10-03,1584096,False,0
95312,23324287,287,2,1925,2008-04-14,23324287,False,0
95313,2158117,117,2,1906,2003-02-18,2158117,False,0
95314,3488544,544,1,1940,2011-05-27,3488544,False,0
95315,58663,663,2,1920,2009-11-02,58663,False,0
95316,4394365,365,2,1922,2010-12-14,4394365,False,0
95317,2462654,654,2,1917,2004-07-01,2462654,False,0
95318,12658323,323,2,1943,2010-04-26,12658323,False,0
95319,12232435,435,2,1924,2006-09-20,12232435,False,0
95320,22164640,640,1,1916,2009-08-07,22164640,False,0
95321,28120088,88,1,1926,2004-09-22,28120088,False,0
95322,10375067,67,2,1925,2003-05-12,10375067,False,0
95323,2115338,338,2,1924,2010-03-03,2115338,False,0
95324,26294319,319,2,1927,2010-11-17,26294319,False,0
95325,1255264,264,2,1930,2003-11-14,1255264,False,0

In [50]:
merged_table[merged_table['isCase']==True]['insomnia_event_count'].mean()

0.08558000965109204

In [51]:
merged_table[merged_table['isCase']==False]['insomnia_event_count'].mean()

0.068795501751883009

In [57]:
pt_features[pt_features['patid']==3176659]

        patid  pracid  gender  birthyear  index_date  original_matchid isCase
1518  3176659     659       2       1926  2011-10-18           7877659   True